{% extends 'base.html' %}
{% load static %}

{% block title %} Add section {% endblock title %}

{% block main %}
  <div style="margin-bottom: 259px;" class="container-fluid">
       <!-- Heading -->
   <div class="card mb-4 wow fadeIn">
      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">
         <h6 class="mb-2 mb-sm-0 pt-1">
            <a href="{% url 'home_page' %}">Home Page</a>
            <span>/</span>
            <a href="{% url 'assign_teacher_list' %}">Subject Allocation</a>
            <span>/</span>
            <span>New subject allocation</span>
         </h6>
      </div>
   </div>
   <!-- Heading -->
      <div class="alert alert-info">
  <strong>Info!</strong> Create class, teacher and subjects then you can allocate</a>.
</div>
     {% if messages %}
     {% for message in messages %}
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message|safe }}
          </div>
        {% endfor %}
      {% endif %}
      {% if form %}
   <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Please correct the errors below</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% for field in form %}
    {% if field.errors %}
     {% for error in field.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong class="{{ message.tags }}">{{ field.label }}: {{ error }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% endif %}
    <div>
      <div aria-labelledby="add_a_class">
        <div class="row">
          <div class="col-md-6">
            <form method="post">{% csrf_token %}
              <select name="clss" class="mdb-select md-form">
                <option value="" disabled selected>Select class</option>
                  {% for class in classes %}
                <option value="{{ class.id }}">{{ class.name|capfirst }}</option>
                  {% empty %}
                <option value="" disabled>No class available</option>
                  {% endfor %}
              </select>
              <select name="term" class="mdb-select md-form">
                <option value="" disabled selected>Select term</option>
                <option value="First">First</option>
                <option value="Second">Second</option>
                <option value="Third">Third</option>
              </select>
              <select name="teacher" class="mdb-select md-form">
                <option value="" disabled selected>Select teacher</option>
                  {% for teacher in teachers %}
                <option value="{{ teacher.id }}">{{ teacher.get_full_name|capfirst }}</option>
                  {% empty %}
                <option value="" disabled>No teacher available</option>
                  {% endfor %}
              </select>
              <select name="subjects" class="mdb-select md-form colorful-select dropdown-primary" multiple searchable="Search here..">
                  <option value="" disabled selected>Choose subjects</option>
                   {% for subject in subjects %}
                  <option value="{{ subject.id }}">{{ subject.name }}</option>
                  {% empty %}
                <option value="" disabled="">No subject available</option>
                  {% endfor %}
              </select>
              <input type="submit" name="submit" class="btn btn-primary" value="Save">
            </form>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}