{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Admin | Bitpoint</title>
  <link rel="stylesheet" type="text/css" href="{% static 'authentication/style/styles.css' %}">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <style type="text/css">
    a {
      color: #000;
    }
  </style>
</head>
<body>
<div class='box'>
  <div hidden class="warning-msg">
    
  </div>
  <div class='box-form'>
    <div class='box-login-tab'></div>
    <div class='box-login-title'>
      <div class='i i-login'></div><h2>LOGIN</h2>
    </div>
    <form>
    <div class='box-login'>
      <div class='fieldset-body' id='login_form'>
        <button type="button" onclick="openLoginInfo();" class='b b-form i i-more' title='Mais Informações'></button>
          <p class='field'>
          <label for='user'>USERNAME</label>
          <input type='text' id='user' name='user' title='Username' />
          <span id='valida' class='i i-warning'></span>
        </p>
          <p class='field'>
          <label for='pass'>PASSWORD</label>
          <input type='password' id='pass' name='pass' title='Password' />
          <span id='valida' class='i i-close'></span>
        </p>

          <label class='checkbox'>
            <input type='checkbox' value='TRUE' title='Keep me Signed in' /> Keep me Signed in
          </label>

          <input target_url="{% url 'process_login' %}" type='submit' id='do_login' value='CONTINUE' title='Get Started' />
      </div>
    </div>
  </form>
  </div>
  <div class='box-info'>
              <p><button onclick="closeLoginInfo();" class='b b-info i i-left' title='Back to Sign In'></button><h3>Are you lost ?</h3></p>
              <div class='line-wh'></div>
              <button onclick="" class='b-support' title='Back to home'><a href="/bitpoint.com"> Go back home</a></button>
    <button onclick="" class='b-support' title='Contact Support'><a href="mailto:abdulrasheedibrahim47@gmail.com"> Contact Support</a></button>
              <div class='line-wh'></div>
              <h4>This page is strickly for SUs</h4>
          </div>
</div>
 <div class='icon-credits'>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/budi-tanrim" title="Budi Tanrim">Budi Tanrim</a> & <a href="http://www.flaticon.com/authors/nice-and-serious" title="Nice and Serious">Nice and Serious</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
 <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
 <script src="{% static 'authentication/js/script.js' %}"></script>
 <script type="text/javascript">
   $(document).ready(function () {
      $(document).on("contextmenu",function(){
        return false;
      }); 
      
      document.querySelector("#do_login").
        addEventListener("click", function(event) {
          event.preventDefault();
          // remove shake class
          document.querySelector('.warning-msg').classList.remove('warning-shake');
          // send login request
          const target_url = $(this).attr('target_url');
          const username = $.trim($("#user").val());
          const password = $.trim($("#pass").val());
          $.ajax({
              url: target_url,
              data: {
                'username': username,
                'password': password,
              },
              beforeSend: () => {
                $("#do_login").attr('disabled', true);
                $("#do_login").val("Signing In ...");
              },
              
              complete: () => {
                $("#do_login").removeAttr('disabled');
                $("#do_login").val("CONTINUE");
              },

              success: (data) => {
                if(data == 1){
                  $("#do_login").val("Redirecting...");
                  window.location = '/'
                }else{
                  // show the err message
                  $(".warning-msg").show();
                  $(".warning-msg").html(`<i class="fa fa-warning"></i> ${data}`);
                  // finally shake the message
                  document.querySelector('.warning-msg').classList.add('warning-shake');
                }
              }
            });
        });
    });
 </script>
</body>
</html>