{% extends 'base.html' %}

{% block title %} Reset Users Password {% endblock title %}

{% block main %}
<!-- Card -->
<div class="card mx-xl-5">
    <!-- Card body -->
    <div class="card-body">
<div hidden class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> Password changed successfully !.
</div>
        <!-- Default form subscription -->
        <form id="form" data-url="{% url 'reset_users_password' %}">{% csrf_token %}
            <p class="h4 text-center py-4">Change Password</p>

            <!-- Default input name -->
            <a id="url" hidden url="{% url 'reset_users_password_view' %}"></a>
            <span>Select a role</span>
            <select name="user_type" id="user_type" class="mdb-select">
                <option value="" disabled selected="">Choose a role</option>
                <option value="admin">Admin</option>
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
                <option value="parent">Parent</option>
            </select>

           	<div hidden id="loader" class="progress md-progress primary-color-dark">
              <div class="indeterminate">
              </div>
          	</div>
            <br>
                        <!-- Default input name -->
            <span>Select a user</span>
            <select id="load_users" class="mdb-select">
            </select>

            <br>
            <!-- Default input email -->
            <label for="defaultFormCardEmailEx" class="grey-text font-weight-light">New Password</label>
            <input id="new_password" type="password" id="defaultFormCardEmailEx" class="form-control">

            <div class="text-center py-4 mt-3">
                <input id="change" class="btn btn-outline-purple" value="Change">
            </div>
        </form>
        <!-- Default form subscription -->

    </div>
    <!-- Card body -->
</div>
{% block script %}
	<script type="text/javascript">
		$(document).ready(function(){
			var url = $("#form").attr("data-url");

			$("#user_type").change(function(){
			var user_type = $(this).val();
			$.ajax({
            method: "GET",
            url: url,

            data: {
                'user_type': user_type,
      		},
            
            beforeSend: function(){
            	$("#loader").removeAttr('hidden');
           	},

        	complete: function(){
            	$("#loader").attr('hidden', 'hidden');
           	},

            success: function(data) {
               $("#load_users").html(data);
            },

            error: function(error_data) {
                console.log("error")
                console.log(error_data)
            },
        })
		});
		
		$("#change").click(function(){
            var url = $("#url").attr("url");
			var new_password = $("#new_password").val();
			var selected_user = $("#load_users option:selected").val();
			var csrf_token = $('input[name="csrfmiddlewaretoken"]').val()
			$.ajax({
            method: "POST",
            url: url,

            data: {
                'new_password': new_password,
                'selected_user': selected_user,
                'csrfmiddlewaretoken': csrf_token,
      		},
            
            beforeSend: function(){
            	$("#loader").removeAttr('hidden');
           	},

        	complete: function(){
            	$("#loader").attr('hidden', 'hidden');
           	},

            success: function(data) {
               $(".alert").removeAttr('hidden');
            },

            error: function(error_data) {
            	console.log(error_data)
            },
        })
      });
});
	</script>
{% endblock script%}
{% endblock %}