{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block title %} Add subject {% endblock title %}

{% block main %}
   <div class="card mb-4 wow fadeIn">
      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">
         <h6 class="mb-2 mb-sm-0 pt-1">
            <a href="{% url 'home_page' %}">Home Page</a>
            <span>/</span>
            <a href="{% url 'subjects_list' %}">Subject</a>
            <span>/</span>
            <span>Add Subject</span>
         </h6>
      </div>
   </div>
   <!-- Heading -->
    <div>
      <div aria-labelledby="add_a_class">
        <div class="row">
          <div class="col-md-6">
            <form method="post">{% csrf_token %}
              {{ form|crispy }}
              <input type="submit" name="submit" class="btn btn-primary" value="Save">
            </form>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
