{% extends 'base.html' %}
{% load static humanize %}

{% block title %} Change Password {% endblock title %}

{% block main %}
    <div class="container-fluid">

      <!--Section: Team v.1-->
      <section class="section team-section">
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
   {% if form %}
   <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Please correct the errors below</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
   {% for field in form %}
    {% if field.errors %}
     {% for error in field.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong class="{{ message.tags }}">{{ field.label }}: {{ error }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% endif %}

<!--Modal: Login with Avatar Form-->
<div class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
    <form method="POST">{% csrf_token %}
  <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header">
        <img src="{{ request.user.get_picture }}" alt="{{ request.user }}'s avatar" class="rounded-circle img-responsive">
      </div>
      <!--Body-->
      <div class="modal-body text-center mb-1">

        <h5 class="mt-1 mb-2">{{ request.user.username|title }}</h5>

        <div class="md-form ml-0 mr-0">
          <input name="old_password" type="password" type="text" id="form29" class="form-control form-control-sm validate ml-0">
          <label data-error="Enter value" data-success="right" for="form29" class="ml-0">Enter old password</label>
        </div>


        <div class="md-form ml-0 mr-0">
          <input name="new_password" type="password" type="text" id="form29" class="form-control form-control-sm validate ml-0">
          <label data-error="Choose new password" data-success="right" for="form29" class="ml-0">Enter new password</label>
        </div>

        <div class="md-form ml-0 mr-0">
          <input name="confirm_password" type="password" type="text" id="form29" class="form-control form-control-sm validate ml-0">
          <label data-error="Repeat the above password" data-success="right" for="form29" class="ml-0">Confirm new password</label>
        </div>

        <div class="text-center mt-4">
          <input class="btn btn-cyan mt-1" type="submit" value="Save">
        </div>
      </div>

    </div>
    <!--/.Content-->
  </div>
  </form>
</div>
<!--Modal: Login with Avatar Form-->
<center>
<div style="margin-bottom: 420px;" class="text-center">
  <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#modalLoginAvatar">Change my password</a>
</div>
</center>
{% endblock main %}