{% extends 'base.html' %}
{% load static %}

{% block main %}
  <div style="margin-bottom: 259px;" class="container-fluid">
       <!-- Heading -->
   <div class="card mb-4 wow fadeIn">
      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">
         <h6 class="mb-2 mb-sm-0 pt-1">
            <a href="{% url 'home_page' %}">Home Page</a>
            <span>/</span>
            <span>Edit {{ user_type }}</span>
         </h6>
      </div>
   </div>
   <!-- Heading -->
             {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message|safe }}
          </div>
        {% endfor %}
      {% endif %}
      {% if form.errors %}
   <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Please correct the errors below</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% for field in form %}
    {% if field.errors %}
     {% for error in field.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong class="{{ message.tags }}">{{ field.label }}: {{ error }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% endif %}
   <!-- Editable table -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Editing {{ form.first_name.value|title }}</a>
  </li>
</ul>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="row">
      <div class="col-md-4">
        <small class="indigo-text">Firstname *</small>
        {{ form.first_name }}
        <small class="indigo-text">Phone number *</small>
        {{ form.phone }}
        <small class="indigo-text">Gender</small>
        {{ form.gender }}
        <small class="indigo-text">Religion</small>
        {{ form.religion }}
      </div>
      <div class="col-md-4">
        <small class="indigo-text">Lastname *</small>
        {{ form.last_name }}
        <small class="indigo-text">Email</small>
        {{ form.email }}
        <small class="indigo-text">State</small>
        {{ form.state }}
      </div>
      <div class="col-md-4">
        <small class="indigo-text">Othername</small>
        {{ form.other_name }}
        <small class="indigo-text">Address</small>
        {{ form.address }}
        <small class="indigo-text">Date of birth</small>
        {{ form.dob }}
      </div>
  </div>
  </div>
</div>
<input type="submit" name="submit" value="Save" style="margin-bottom: 27px;" class="btn btn-primary">
</form>
</div>
{% endblock %}
