{% extends 'base.html' %}
{% load static %}

{% block title %} parents {% endblock title %}

{% block main %}

    <div class="container-fluid">
             <!-- Heading -->
   <div class="card mb-4 wow fadeIn">
      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">
         <h6 class="mb-2 mb-sm-0 pt-1">
            <a href="{% url 'home_page' %}">Home Page</a>
            <span>/</span>
            <a>Parents</a>
         </h6>
      </div>
   </div>
   <!-- Heading -->
          {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      <!--Section: Basic examples-->
      <section>
        <!--Top Table UI-->
        <div class="card p-2 mb-5">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-lg-3 col-md-12">
            	<a class="btn btn-primary" href="{% url 'add_system_admin' %}">
            		Add New System Admin
            	</a>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6">
              <!--/Blue select-->
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->

        </div>
        <!--Top Table UI-->

        <div class="card card-cascade narrower z-depth-1">

          <!--Card image-->
          <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
            <a href="" class="white-text mx-3">System Administrators</a>

          </div>
          <!--/Card image-->

          <div class="px-4">

            <div class="table-responsive">
              <!--Table-->
              <table id="table" class="table table-hover mb-0">

                <!--Table head-->
                <thead>
                  <tr>
                    <th class="th-lg"><a>Full Name <i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a href="">Photo<i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a href="">Email<i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a href="">Status<i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a href="">Action<i class="fas fa-sort ml-1"></i></a></th>
                  </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                	{% for user in users %}
                  <tr>
                    <td>{{ user.get_full_name }}</td>
                    <td><img src="{{ user.get_picture }}" width="50"></td>
                    <td>{% if user.email %}{{ user.email }}{% else %} <small style="color: red">No email</small> {% endif %}</td>
                    <td>
                      {% if not user.id == request.user.id %}
                      <div title="CAUTION: if deativated, this user can longer have access to this site" class="switch">
                        <label class="custom-checkbox">
                          Off
                          <input deativate-url="{% url 'toggle_user_status' id=user.id %}" id="user_status" name="user_status" type="checkbox"
                          {% if user.is_active %} checked {% endif %}/>
                          <span class="lever"></span> On
                        </label>
                      </div>
                      {% endif %}
                    </td>
                    <td>
                      <a href="{% url 'profile' user_id=user.id %}" title="view" class="blue-text"><i class="fa fa-user"></i></a>
                      <a href="{% url 'edit_user' id=user.pk %}" title="edit" class="teal-text"><i class="fa fa-pen"></i></a>
                      <a href="{% if not user.id == request.user.id %}{% url 'delete_user' id=user.pk %}{% else %} # {% endif %}" title="delete" class="red-text"><i class="fa fa-times"></i>
                      </a>
                    </td>
                  </tr>
                  {% empty %}
                  <span>No data available</span>
                  {% endfor %}
                </tbody>
                <!--Table body-->
              </table>
              <!--Table-->
            </div>

            <hr class="my-0">

            <!--Bottom Table UI-->
            <div class="d-flex justify-content-between">
              <!--Pagination -->
              <nav class="my-4">
                <ul class="pagination pagination-circle pg-blue mb-0">
                  <!--Arrow left-->
                  <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo; Previous</span>
                    </a>
                  </li>
                  <!--Arrow right-->
                  <li class="page-item disabled">
                    <a class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo; Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <!--/Pagination -->

            </div>
            <!--Bottom Table UI-->

          </div>
        </div>

      </section>
      <!--Section: Basic examples-->

    </div>
{% block script %}
      <script type="text/javascript">
        $(document).ready(function(){
          $(".custom-checkbox").change(function(){
            var row = $(this).closest("tr > td");
            var url = $(row).find("#user_status").attr('deativate-url');

            $.ajax({
              url: url,
                success: function (data) {
                 alert(data);
                }
              });
            });
        });
      </script>
   {% endblock script %}
  {% endblock main %}