{% extends 'base.html' %}
{% load static %}
{% block main %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js" integrity="sha256-YCbKJH6u4siPpUlk130udu/JepdKVpXjdEyzje+z1pE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.1/dist/fullcalendar.min.css">

  <!--Main layout-->
    <div class="container-fluid">

      <!--Section: Button icon-->
      <section>

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-xl-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card Data-->
              <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                  <a type="button" class="btn-floating btn-lg primary-color ml-4 waves-effect waves-light"><i class="fas fa-user-tie" aria-hidden="true"></i></a>
                </div>

                <div class="col-md-7 col-7 text-right pr-5">
                  <h5 class="ml-4 mt-4 mb-2 font-weight-bold">{{ no_teachers }}</h5>
                  <p class="font-small grey-text">Teacher{{ no_teachers|pluralize }}</p>
                </div>
              </div>
              <!--/.Card Data-->

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card Data-->
              <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                  <a type="button" class="btn-floating btn-lg warning-color ml-4 waves-effect waves-light"><i class="fas fa-user-graduate" aria-hidden="true"></i></a>
                </div>

                <div class="col-md-7 col-7 text-right pr-5">
                  <h5 class="ml-4 mt-4 mb-2 font-weight-bold">{{ no_students }}</h5>
                  <p class="font-small grey-text">Student{{ no_students|pluralize }}</p>
                </div>
              </div>
              <!--/.Card Data-->

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
                  <!--Grid column-->
                  {% if request.user.is_student %}
          <div class="col-xl-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card Data-->
              <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                  <a type="button" class="btn-floating btn-lg warning-color ml-4 waves-effect waves-light"><i class="fas fa-user-graduate" aria-hidden="true"></i></a>
                </div>

                <div class="col-md-7 col-7 text-right pr-5">
                  {% for i in p %}
                  <small class="ml-4 mt-4 mb-2 font-weight-bold">{{  i.term }} term: {{ i.payment_status }}</small>
                  {% endfor %}
                  <p class="font-small grey-text">Fee summary ({{ current_session }})</p>
                </div>
              </div>
              <!--/.Card Data-->

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->
          {% else %}

          <!--Grid column-->
          <div class="col-xl-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card Data-->
              <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                  <a type="button" class="btn-floating btn-lg warning-color ml-4 waves-effect waves-light"><i class="fas fa-user-graduate" aria-hidden="true"></i></a>
                </div>

                <div class="col-md-7 col-7 text-right pr-5">
                  <h5 class="ml-4 mt-4 mb-2 font-weight-bold">{{ no_parents }}</h5>
                  <p class="font-small grey-text">Parent{{ no_parents|pluralize }}</p>
                </div>
              </div>
              <!--/.Card Data-->

            </div>
            <!--/.Card-->

          </div>
          <!--Grid
          {% endif %}
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card Data-->
              <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                  <a type="button" class="btn-floating btn-lg red accent-2 ml-4 waves-effect waves-light"><i class="fas fa-book-open" aria-hidden="true"></i></a>
                </div>

                <div class="col-md-7 col-7 text-right pr-5">
                  <h5 class="ml-4 mt-4 mb-2 font-weight-bold">{{ no_subjects }}</h5>
                  <p class="font-small grey-text">Subject{{ no_subjects|pluralize }}</p>
                </div>
              </div>
              <!--/.Card Data-->

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--/Section: Button icon-->

      <div style="height: 5px"></div>

      <!-- Section: data tables -->
      <section class="section">

        <div class="row">
          <div class="col-md-12 col-lg-4 ">

            <div class="card mb-4">
                    <!--Card-->
              <div class="card testimonial-card">
                <!--Background color-->
                <div class="card-up blue-gradient"></div>
                <!--Avatar-->
                <div class="avatar mx-auto white">
                  <img src="{{ request.user.get_picture }}" class="rounded-circle img-fluid">
                </div>
                <div class="card-body">
                  <!--Name-->
                  <h4 class="font-weight-bold mb-4">{{ request.user|capfirst }}</h4>
                  <small>({{ user_type }})</small>
                  <hr>
                  <small style="text-align: left; margin-left: 65px;">
        	          {% if request.user.email %}<p>Email: {{ request.user.email }}</p>{% endif %}
        	          {% if request.user.phone %}<p>Phone: {{ request.user.phone }}</p>{% endif %}
        	          {% if request.user.address %}<p>Address: {{ request.user.address }}</p>{% endif %}
              	  </small>
                </div>
              </div>

            </div>

          </div>
           {% if request.user.is_superuser %}
          <div class="col-lg-8 col-md-12">
            <div class="card mb-4">
              <div class="card-body">
             	<canvas id="income_and_expense_graph"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="card mb-4">
              <div class="card-body">
                <div id="calendar"></div>
              </div>
            </div>
          </div>
          {% elif request.user.is_student %}
           <div class="col-lg-8 col-md-12">
          <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active">
            Class Subjects ({{ student.in_class }})
          </button>
          {% for subject in subjects %}
          <button type="button" class="list-group-item list-group-item-action">
            {{ subject.name }}
          </button>
          {% empty %}
           <button type="button" class="list-group-item list-group-item-action">
            No subject added in your class
          </button>
          {% endfor %}
        </div>
        </div>
        {% elif request.user.is_teacher %}
        <div class="col-lg-8 col-md-12">
          <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active">
             Your subjects:
          </button>
          {% for subject in subjects %}
          ({{ subject.clss }}):
          {% for each in subject.subjects.all %}
          <button type="button" class="list-group-item list-group-item-action">
            {{ each }}
          </button>
          {% endfor %}
          {% empty %}
           <button type="button" class="list-group-item list-group-item-action">
            No subject is allocated to you !
          </button>
          {% endfor %}
        </div>
        </div>
        {% elif request.user.is_parent %}
        <div class="col-lg-8 col-md-12">
          <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active">
            Ward(s) Information
          </button>
          {% for ward in wards %}
          <button type="button" class="list-group-item list-group-item-action">
            {{ ward.student }} ({{ ward.student.in_class }})
          </button>
          {% empty %}
           <button type="button" class="list-group-item list-group-item-action">
            Wards not available
          </button>
          {% endfor %}
        </div>
        </div>
            {% endif %}
        </div>

      </section>
      <!-- /.Section: data tables -->
  <!--Main layout-->
  {% endblock %}

  {% block script %}
  	<script src="{% static 'js/sms/chart.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.1/dist/fullcalendar.min.js"></script>
    <script type="text/javascript">
      $('#calendar').fullCalendar({
    header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,listWeek'
    },
    defaultDate: '2018-11-16',
    navLinks: true,
    eventLimit: true,
    events: [{
            title: 'Front-End Conference',
            start: '2018-11-16',
            end: '2018-11-18'
        },
        {
            title: 'Hair stylist with Mike',
            start: '2018-11-20',
            allDay: true
        },
        {
            title: 'Car mechanic',
            start: '2018-11-14T09:00:00',
            end: '2018-11-14T11:00:00'
        },
        {
            title: 'Dinner with Mike',
            start: '2018-11-21T19:00:00',
            end: '2018-11-21T22:00:00'
        },
        {
            title: 'Chillout',
            start: '2018-11-15',
            allDay: true
        },
        {
            title: 'Vacation',
            start: '2018-11-23',
            end: '2018-11-29'
        },
    ]
});
    </script>
  {% endblock script %}