{% extends 'base.html' %}
{% load static humanize %}
{% block main %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js" integrity="sha256-YCbKJH6u4siPpUlk130udu/JepdKVpXjdEyzje+z1pE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.1/dist/fullcalendar.min.css">
  {% block custom_style %}
  <style type="text/css">
    @media screen and (max-width :  1191px){
      .progress{
          width: 30vw !important;
        }
      }
       @media screen and (max-width :  737px){
        .progress {
          width: 65vw !important;
        }
        .subject-action-buttons {
          width: 75vw;
          align-items: center;
        }
    }
  </style>
  {% endblock %}
  <!--Main layout-->
    <div class="container-fluid">

      <!--Section: Button icon-->
      <section>

        <!--Grid row-->
        <div class="row">

<!--Grid column-->
          <div class="col-xl-{{ colxl }} col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card Data-->
              <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                  <a type="button" class="btn-floating btn-lg primary-color ml-2 waves-effect waves-light"><i class="fas fa-user-graduate" aria-hidden="true"></i></a>
                </div>

                <div class="col-md-7 col-7 text-right pr-5">
                  <h5 class="ml-4 mt-4 mb-2 font-weight-bold">{{ no_teachers }}</h5>
                  <p class="font-small grey-text"><small>Teachers{{ no_teacher|pluralize }}</small></p>
                </div>
              </div>
              <!--/.Card Data-->

            </div>
            <!--/.Card-->

          </div>
          
          <!--Grid column-->
          <div class="col-xl-{{ colxl }} col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card Data-->
              <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                  <a type="button" class="btn-floating btn-lg warning-color ml-2 waves-effect waves-light"><i class="fas fa-user-graduate" aria-hidden="true"></i></a>
                </div>

                <div class="col-md-7 col-7 text-right pr-5">
                  <h5 class="ml-4 mt-4 mb-2 font-weight-bold">{{ no_students }}</h5>
                  <p class="font-small grey-text"><small>
                  {% if request.user.is_parent %}
                  Chil{{ no_students|pluralize:"d,dren" }}
                  {% else %}
                  Student{{ no_students|pluralize }}
                  {% endif %}
                  </small></p>
                </div>
              </div>
              <!--/.Card Data-->

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
                  <!--Grid column-->
                  {% if request.user.is_student %}
          <div class="col-xl-{{ colxl }} col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card Data-->
              <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                  <a type="button" class="btn-floating btn-lg warning-color ml-4 waves-effect waves-light"><i class="fas fa-user-graduate" aria-hidden="true"></i></a>
                </div>

                <div class="col-md-7 col-7 text-right pr-5">
                  {% for i in p %}
                  <small class="ml-4 mt-4 mb-2 font-weight-bold">{{  i.term }} term: {{ i.payment_status }}</small>
                  {% endfor %}
                  <p class="font-small grey-text"><small>Fee summary ({{ current_session }})</small></p>
                </div>
              </div>
              <!--/.Card Data-->

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->
          {% else %}

          <!--Grid column-->
          <div class="col-xl-{{ colxl }} col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card Data-->
              <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                  <a type="button" class="btn-floating btn-lg green ml-2 waves-effect waves-light"><i class="fas fa-user-graduate" aria-hidden="true"></i></a>
                </div>

                <div class="col-md-7 col-7 text-right pr-5">
                  <h5 class="ml-4 mt-4 mb-2 font-weight-bold">{{ no_parents }}</h5>
                  <p class="font-small grey-text"><small>Parent{{ no_parents|pluralize }}</small></p>
                </div>
              </div>
              <!--/.Card Data-->

            </div>
            <!--/.Card-->

          </div>
          <!--Grid
          {% endif %}
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-xl-{{ colxl }} col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card Data-->
              <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                  <a type="button" class="btn-floating btn-lg red accent-2 ml-2 waves-effect waves-light"><i class="fas fa-book-open" aria-hidden="true"></i></a>
                </div>

                <div class="col-md-7 col-7 text-right pr-5">
                  <h5 class="ml-4 mt-4 mb-2 font-weight-bold">{{ no_subjects }}</h5>
                  <p class="font-small grey-text"><small>Subject{{ no_subjects|pluralize }}</small></p>
                </div>
              </div>
              <!--/.Card Data-->

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->
          {% if request.user.is_superuser %}
          <!--Grid column-->
          <div class="col-xl-{{ colxl }} col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card Data-->
              <div class="row mt-4">
                <div class="col-md-4 col-5 text-left pl-3">
                  <a type="button" class="btn-floating btn-lg light-blue accent-2 ml-2 waves-effect waves-light"><i class="far fa-money-bill-alt"></i></a>
                </div>

                <div class="col-md-7 col-7 text-right pr-2">
                  <h6 class="ml-4 mt-3 mb-2 font-weight-bold">
                    <span class="target-income">
                      {{ target_income|intcomma }}
                    </span> 
                  </h6>
                  <p class="font-small grey-text"><small>Target Income</small></p>
                </div>
              </div>
              <!--/.Card Data-->

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->
          
          <!--Grid column-->
          <div class="col-xl-{{ colxl }} col-md-6 mb-4">

            <!--Card-->
            <div class="card">
              <!--Card Data-->
              <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                  <div class="progress md-progress" style="height: 20px; width: 80px">
                    <div class="progress-bar target-progress progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%; height: 20px" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">0%
                    </div>
                  </div>
                </div>

                <div class="col-md-7 col-7 text-right pr-5">
                  <p class="font-small grey-text">Target</p>
                </div>
              </div>
              <!--/.Card Data-->

            </div>
            <!--/.Card-->
            <!--Card-->
            <div class="card">
              <!--Card Data-->
              <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                  <div class="progress md-progress" style="height: 20px; width: 80px">
                    <div class="progress-bar {% if sms_unit >= 50 %} bg-info{% else %} bg-danger {% endif %} progress-bar-striped progress-bar-animated" role="progressbar" style="width: {% if sms_unit >= 200 %}{{ sms_unit|default_if_none:0 }}{% else %}{{ sms_unit|default_if_none:0 }}% {% endif %}; height: 20px" aria-valuenow="{{ sms_unit|default_if_none:0 }}" aria-valuemin="0" aria-valuemax="500">
                      {{ sms_unit|default_if_none:0 }}
                    </div>
                  </div>
                </div>

                <div class="col-md-7 col-7 text-right pr-5">
                  <p class="font-small grey-text">SMS</p>
                </div>
              </div>
              <!--/.Card Data-->

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->
          {% endif %}
          </div>
        <!--Grid row-->

      </section>
      <!--/Section: Button icon-->

      <div style="height: 5px"></div>

      <!-- Section: data tables -->
      <section class="section">

        <div class="row">
          <div class="col-md-12 col-lg-4 ">

            <div class="card mb-4">
                    <!--Card-->
              <div class="card testimonial-card">
                <!--Background color-->
                <div class="card-up blue-gradient"></div>
                <!--Avatar-->
                <div class="avatar mx-auto white">
                  <img src="{{ request.user.get_picture }}" class="rounded-circle img-fluid">
                </div>
                <div class="card-body">
                  <!--Name-->
                  <h4 class="font-weight-bold mb-4">{{ request.user|capfirst }}</h4>
                  <small>({{ user_type }})</small>
                  <hr>
                  <small style="text-align: left; margin-left: 65px;">
        	          {% if request.user.email %}<p>Email: {{ request.user.email }}</p>{% endif %}
        	          {% if request.user.phone %}<p>Phone: {{ request.user.phone }}</p>{% endif %}
        	          {% if request.user.address %}<p>Address: {{ request.user.address }}</p>{% endif %}
              	  </small>
                </div>
              </div>

            </div>

          </div>
           {% if request.user.is_superuser %}
          <div class="col-lg-8 col-md-12">
            <div class="card mb-4">
              <div class="card-body">
             	<canvas id="income_and_expense_graph"></canvas>
              </div>
            </div>
          </div>
          {% elif request.user.is_student %}
           <div class="col-lg-8 col-md-12">
          <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active">
            Class Subjects ({{ student.in_class }})
          </button>
          {% for subject in subjects %}
          <button type="button" class="list-group-item list-group-item-action">
            {{ subject.name }}
          </button>
          {% empty %}
           <button type="button" class="list-group-item list-group-item-action">
            No subject added in your class
          </button>
          {% endfor %}
        </div>
        </div>
        {% elif request.user.is_teacher %}
        <div class="col-lg-8 col-md-12">
          <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active">
             Your subjects:
          </button>
          {% for obj in allocated_subjects %}
          ({{ obj.clss }}):
          {% for subject in obj.subjects.all %}
          <button type="button" class="list-group-item list-group-item-action">
            {{ subject.name }} 
            <a href="#" style="float: right;" class="btn btn-secondary btn-sm subject-action-buttons">View Syllabus</a>

            <a href="{% url 'score_list' %}" style="float: right;" class="btn btn-primary btn-sm subject-action-buttons">Input Score</a>
          </button>
          {% endfor %}
          {% empty %}
           <button type="button" class="list-group-item list-group-item-action">
            No subject is allocated to you !
          </button>
          {% endfor %}
        </div>
        </div>
        {% elif request.user.is_parent %}
        <div class="col-lg-8 col-md-12">
          <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active">
            My chil{{ students|pluralize:"d,dren's" }} Information
          </button>
          {% for student in students %}
          <button type="button" class="list-group-item list-group-item-action">
            {{ student }} ({{ student.in_class }})
            <a href="{% url 'profile' user_id=student.user.id %}" style="float: right;" class="btn btn-secondary btn-sm subject-action-buttons">View Profile</a>

            <a href="{% url 'view_score_list' %}" style="float: right;" class="btn btn-primary btn-sm subject-action-buttons">View Score</a>
          </button>
          {% empty %}
           <button type="button" class="list-group-item list-group-item-action">
            no child available
          </button>
          {% endfor %}
        </div>
        </div>
            {% endif %}

        <!-- Calendar starts here -->
        <div class="col-lg-12 col-md-12">
          <div class="card mb-4">
            <div class="card-body">
              <div id="calendar"></div>
            </div>
          </div>
        </div>
        </div>
        <!-- Calendar ends here -->
      </section>
      <!-- /.Section: data tables -->
  <!--Main layout-->
  {% endblock %}

  {% block script %}
  	<script src="{% static 'js/sms/chart.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.1/dist/fullcalendar.min.js"></script>
    <script type="text/javascript">
$('#calendar').fullCalendar({
    header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,listWeek'
    },
    defaultDate: '2018-11-16',
    navLinks: true,
    editable: true,
    eventLimit: true,
    events: [{
            title: 'All Day Event',
            start: '2018-11-01'
        },
        {
            title: 'Long Event',
            start: '2018-11-07',
            end: '2018-11-10'
        },
        {
            id: 999,
            title: 'Repeating Event',
            start: '2018-11-09T16:00:00'
        },
        {
            id: 999,
            title: 'Repeating Event',
            start: '2018-11-16T16:00:00'
        },
        {
            title: 'Conference',
            start: '2018-11-11',
            end: '2018-11-13'
        },
        {
            title: 'Meeting',
            start: '2018-11-12T10:30:00',
            end: '2018-11-12T12:30:00'
        },
        {
            title: 'Lunch',
            start: '2018-11-12T12:00:00'
        },
        {
            title: 'Meeting',
            start: '2018-11-12T14:30:00'
        },
        {
            title: 'Happy Hour',
            start: '2018-11-12T17:30:00'
        },
        {
            title: 'Dinner',
            start: '2018-11-12T20:00:00'
        },
        {
            title: 'Birthday Party',
            start: '2018-11-13T07:00:00'
        },
        {
            title: 'Click for Google',
            url: 'https://google.com/',
            start: '2018-11-28'
        }
    ]
});
    </script>
  {% endblock script %}