cairocffi==1.0.2
CairoSVG==2.4.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cssselect2==0.2.1
defusedxml==0.6.0
Django==2.2.4
django-progressive-web-app==0.1.1
django-tenants==2.2.3
html5lib==1.0.1
idna==2.8
Pillow==6.1.0
psycopg2==2.8.3
pycparser==2.19
PyJWT==1.7.1
Pyphen==0.9.5
PySocks==1.7.0
pytz==2019.2
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
tinycss2==1.0.2
twilio==6.29.2
urllib3==1.25.3
WeasyPrint==48
webencodings==0.5.1
