africastalking==1.1.9
asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
contextlib2==0.5.5
Django==2.2.9
django-crispy-forms==1.8.1
django-session-security==2.6.5
django-tenants==2.2.3
django-wkhtmltopdf==3.2.0
idna==2.8
Pillow==7.0.0
pip-autoremove==0.9.1
psycopg2==2.8.4
pytz==2019.3
requests==2.22.0
schema==0.7.1
sqlparse==0.3.0
urllib3==1.25.7
