asgiref==3.2.3
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.13.2
cssselect2==0.2.2
defusedxml==0.6.0
Django==2.2.9
django-crispy-forms==1.8.1
django-session-security==2.6.5
django-tenants==2.2.3
html5lib==1.0.1
Pillow==6.2.1
psycopg2==2.8.4
pycparser==2.19
Pyphen==0.9.5
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
tinycss2==1.0.2
WeasyPrint==51
webencodings==0.5.1