{% extends 'base.html' %}
{% load static %}

{% block title %} Add section {% endblock title %}

{% block main %}
  <div style="margin-bottom: 259px;" class="container-fluid">
       <!-- Heading -->
   <div class="card mb-4 wow fadeIn">
      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">
         <h6 class="mb-2 mb-sm-0 pt-1">
            <a href="{% url 'home_page' %}">Home Page</a>
            <span>/</span>
            <a href="{% url 'sections_list' %}">Section</a>
            <span>/</span>
            <span>Add section</span>
         </h6>
      </div>
   </div>
   <!-- Heading -->
       {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message|safe }}
          </div>
        {% endfor %}
      {% endif %}
      {% if form %}
   <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Please correct the errors below</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% for field in form %}
    {% if field.errors %}
     {% for error in field.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong class="{{ message.tags }}">{{ field.label }}: {{ error }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% endif %}
    <div>
      <div aria-labelledby="add_a_class">
        <div class="row">
          <div class="col-md-6">
            <form method="post">{% csrf_token %}
            <input name="section" type="text" class="form-control mb-4" placeholder="Section name">
            <input name="note" type="text" class="form-control mb-4" placeholder="Note">
              <input type="submit" name="submit" value="Save" class="btn btn-primary">
            </form>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
