{% extends 'base.html' %}
{% load static %}

{% block title %} Assign Teachers {% endblock title %}

{% block main %}
    <div class="container-fluid">
         <!-- Heading -->
   <div class="card mb-4 wow fadeIn">
      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">
         <h6 class="mb-2 mb-sm-0 pt-1">
            <a href="{% url 'home_page' %}">Home Page</a>
            <span>/</span>
            <span>Section Allocation</span>
         </h6>
      </div>
   </div>
   <!-- Heading -->
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message|safe }}
          </div>
        {% endfor %}
      {% endif %}
   {% if form %}
   <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Please correct the errors below</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
   {% for field in form %}
    {% if field.errors %}
     {% for error in field.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong class="{{ message.tags }}">{{ field.label }}: {{ error }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% endif %}

      <!--Assign Teacher: Basic examples-->
      <Assign Teacher>
        <!--Top Table UI-->
        <div class="card p-2 mb-5">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-lg-3 col-md-12">
              <a class="btn btn-primary" href="{% url 'add_assign_section' %}">
                Allocate Now
              </a>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6">
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->

        </div>
        <!--Top Table UI-->

        <div class="card card-cascade narrower z-depth-1">

          <!--Card image-->
          <div class="view view-cascade gradient-card-header mdb-color darken-3 narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">



            <a href="" class="white-text mx-3">Allocated Sections</a>

          </div>
          <!--/Card image-->

          <div class="px-4">

            <div class="table-responsive">
              <!--Table-->
              <table id="table" class="table table-hover mb-0">

                <!--Table head-->
                <thead>
                  <tr>
                    <th class="th-lg"><a>Teacher<i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a>Picture<i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a>Signature<i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a>Designation<i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a href="">Section<i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a href="">Action<i class="fas fa-sort ml-1"></i></a></th>
                  </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                  {% for section in sections %}
                  <tr>
                    <td><a href="{% url 'profile' user_id=section.section_head.id %}">{{ section.section_head.get_full_name|capfirst }}</a></td>
                    <td><img src="{{ section.section_head.get_picture }}" class="rounded-circle" width="55"></td>
                    <td><img src="{% if section.signature %}{{ section.signature.url|default_if_none:'--' }}{% else %} Not uploaded {% endif %}" width="55"></td>
                    <td>{{ section.section.name|capfirst }}</td>
                    <td>{{ section.placeholder|capfirst }}</td>
                    <td>
                      <a href="{% url 'edit_section_allocation' id=section.pk %}" title="edit" class="teal-text"><i class="fa fa-pen"></i></a>
                      <a href="{% url 'del_section_allocation' id=section.pk %}" title="delete" class="red-text"><i class="fa fa-times"></i></a>
                    </td>
                  </tr>
                  {% empty %}
                  <span>No data available</span>
                  {% endfor %}
                </tbody>
                <!--Table body-->
              </table>
              <!--Table-->
            </div>

            <hr class="my-0">

            <hr class="my-0">

            <!--Bottom Table UI-->
            <div class="d-flex justify-content-between">
              <!--Pagination -->
              <nav class="my-4">
                <ul class="pagination pagination-circle pg-blue mb-0">
                  <!--Arrow left-->
                  <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo; Previous</span>
                    </a>
                  </li>
                  <!--Arrow right-->
                  <li class="page-item disabled">
                    <a class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo; Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <!--/Pagination -->

            </div>
            <!--Bottom Table UI-->

          </div>
        </div>

      </Assign>
      <!--Assign Teacher: Basic examples-->

    </div>

  {% endblock main %}
  {% block script %}
  <script src="{% static 'js/sms/sms_script.js' %}"></script>
  {% endblock script %}