{% for grade in grades %}
<tr>
  <td><a href="{% url 'profile' user_id=grade.student.user.id %}">{{ grade.student }}</td>
  <td><img src="{{ grade.student.user.get_picture }}" class="rounded-circle" width="50"></td>
  <td>{{ grade.student.roll_number }}</td>
   <td>{{ grade.subject }}</td>
  <td>{{ grade.fca|default_if_none:'Absent' }}</td>
  <td>{{ grade.sca|default_if_none:'Absent' }}</td>
  <td>{{ grade.exam|default_if_none:'Absent' }}</td>
  <td>{{ grade.total|default_if_none:'---' }}</td>
  <td>{{ grade.grade|default_if_none:'---' }}</td>
  <td>{{ grade.remark|default_if_none:'---' }}</td>
</tr>
{% empty %}
<td>No data available</td>
{% endfor %}