{% extends 'base.html' %}
{% load static %}

{% block title %} parents {% endblock title %}

{% block main %}
  <div class="container-fluid">
             <!-- Heading -->
   <div class="card mb-4 wow fadeIn">
      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">
         <h6 class="mb-2 mb-sm-0 pt-1">
            <a href="{% url 'home_page' %}">Home Page</a>
            <span>/</span>
            <a>Parents</a>
         </h6>
      </div>
   </div>
   <!-- Heading -->
    <div hidden id="loader" class="progress md-progress primary-color-dark">
       <div class="indeterminate">
        </div>
      </div>
          {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      <!--Section: Basic examples-->
      <section>
        <!--Top Table UI-->
         {% if request.user.is_superuser %}
        <div class="card p-2 mb-5">

          <!--Grid row-->

          <div class="row">

            <!--Grid column-->

            <div class="col-lg-3 col-md-12">
            	<a class="btn btn-primary" href="{% url 'add_parent' %}">
            		Add parent
            	</a>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6">
              <!--/Blue select-->
            </div>
            <!--Grid column-->
          </div>

          <!--Grid row-->

        </div>
        {% else %}
        <div class="p-2 mb-5"></div>
         {% endif  %}
        <!--Top Table UI-->

        <div class="card card-cascade narrower z-depth-1">

          <!--Card image-->
          <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
            <a href="" class="white-text mx-3">Parents</a>

          </div>
          <!--/Card image-->

          <div class="px-4">

            <div class="table-responsive">
              <!--Table-->
              <table id="table" class="table table-hover mb-0">

                <!--Table head-->
                <thead>
                  <tr>
                    <th class="th-lg"><a>Full Name <i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a href="">Photo<i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a href="">Email<i class="fas fa-sort ml-1"></i></a></th>
                    {% if request.user.is_superuser %}
                    <th class="th-lg"><a href="">Status<i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a href="">Action<i class="fas fa-sort ml-1"></i></a></th>
                    {% endif %}
                  </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody class="parent_body">
                	{% for parent in parents %}
                  <tr>
                    <td><a href="{% url 'profile' user_id=parent.id %}">{{ parent.get_full_name }}</td>
                    <td><img src="{{ parent.get_picture }}" width="50"></td>
                    <td>{{ parent.email }}</td>
                    <td>
                      {% if request.user.is_superuser %}
                      <div title="if deativated, this parent can no longer have access to this site" class="switch">
                        <label class="custom-checkbox">
                          Off
                          <input deativate-url="{% url 'toggle_user_status' id=parent.id %}" id="user_status" name="user_status" type="checkbox"
                          {% if parent.is_active %} checked {% endif %}/>
                          <span class="lever"></span> On
                        </label>
                      </div>
                    </td>
                    <td>
                      <a href="{% url 'profile' user_id=parent.id %}" title="view" class="blue-text"><i class="fa fa-user"></i></a>
                      <a href="{% url 'edit_user' id=parent.id %}" title="edit" class="teal-text"><i class="fa fa-pen"></i></a>
                      <a id="del_parent" target_parent="{% url 'delete_user' id=parent.pk %}" title="delete" href="#" class="del_parent red-text"><i class="fa fa-times"></i></a>
                    </td>
                    {% endif %}
                  </tr>
                  {% empty %}
                  <span>No data available</span>
                  {% endfor %}
                </tbody>
                <!--Table body-->
              </table>
              <!--Table-->
            </div>

            <hr class="my-0">

            <!--Bottom Table UI-->
            <div class="d-flex justify-content-between">
              <!--Pagination -->
              <nav class="my-4">
                <ul class="pagination pagination-circle pg-blue mb-0">
                  <!--Arrow left-->
                  <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo; Previous</span>
                    </a>
                  </li>
                  <!--Arrow right-->
                  <li class="page-item disabled">
                    <a class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo; Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <!--/Pagination -->

            </div>
            <!--Bottom Table UI-->

          </div>
        </div>

      </section>
      <!--Section: Basic examples-->
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha256-KsRuvuRtUVvobe66OFtOQfjP8WA2SzYsmm4VPfMnxms=" crossorigin="anonymous"></script>
   {% block script %}
      <script type="text/javascript">
        $(document).ready(function(){

          $(".del_parent").click(function(){
          var row = $(this).closest("tr > td");
          var del_parent = $(row).find(".del_parent").attr('target_parent')
          swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this user!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
              $.ajax({
              url: del_parent,
              beforeSend: function(){
                $("#loader").removeAttr('hidden');
              },
              
              complete: function(){
                $("#loader").attr('hidden', 'hidden');
              },

              success: function (data) {
                  $(".parent_body").html(data);
                  toastr.info('Successfully deleted');
                  swal("Successfully Deleted!", {
                    icon: "success",
                  });
                }
              });
            }
          });
        });


          $(".custom-checkbox").change(function(){
            var row = $(this).closest("tr > td");
            var url = $(row).find("#user_status").attr('deativate-url');

            $.ajax({
              url: url,
                success: function (data) {
                 if (data == 'activated') {
                    toastr.success('Successfully '+data);
                  }else{
                    toastr.info('Successfully '+data);
                  }
                }
              });
            });
        });
      </script>
    <script src="{% static 'js/sms/sms_script.js' %}"></script>
   {% endblock script %}
  {% endblock main %}