{% extends 'base.html' %}
{% load static %}
{% block title %} Score Entry {% endblock title %}
{% block main %}
   <div style="margin-bottom: 195px" class="container-fluid">
   <!-- Heading -->
        <div class="card mb-4 wow fadeIn">
      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">
         <h6 class="mb-2 mb-sm-0 pt-1">
            <a href="{% url 'home_page' %}">Home Page</a>
            {% if request.user.is_superuser %}
            <span>/</span>
            <a href="{% url 'score_list' %}">Score</a>
            {% endif %}
            <span>/</span>
            <a>Add Score</a>
         </h6>
      </div>
   </div>
   <!-- Heading -->
   {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
  {% endif %}
   <div hidden id="alertm" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong id="msg">Saved Successfully</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
   <!-- Editable table -->
   <div class="card">
      <span class="mdb-color darken-3 card-header white-text text-uppercase py-1">
        <small class="text-left">Score entry :</small>
        <span id="headers">
          <small id="term_header" class="ml-xl-2">{{term}}</small>
        </span>
    </span>
      <div class="container">
         <form method="get" id="subjectForm" data-cities-url="{% url 'ajax_load_subjects' %}" data-score-table-url="{% url 'score_entry' %}">{% csrf_token %}
         <div class="row">
          {% if request.user.is_superuser %}
            <div class="col-md-3">
               <select id="sclass" name="class" class="mdb-select md-form class_id">
                <option value="" disabled selected>Select a class</option>
                {% for class in classes %}
                  <option value="{{ class.id }}">{{ class.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-3">
            <select id="subject_box" name="subject" class="mdb-select md-form">
                <option value="" disabled selected>Select a subject</option>
              </select>
            </div>
            {% else %}
             <div class="col-md-3">
            <input type="text" id="t_class" value="" hidden>
            <select id="subject_box" name="subject" class="mdb-select md-form">
                <option value="" disabled>Select a subject</option>
                {% for i in assigned_subjects %}
                <option selected disabled>{{ i.clss.name }} subjects</option>
                 {% for subject in i.subjects.all %}
                    <option class="t_clss" class-id="{{i.clss.id}}" value="{{ subject.id }}">{{ subject }} <i>({{ i.clss }})</i></option>
                    {% empty %}
                    No subject
                  {% endfor %}
                {% empty %}
                <option value="" disabled>No subject available</option>
                {% endfor %}
              </select>
            </div>
            {% endif %}
            <div class="col-md-3">
               <select id="term" name="term" class="mdb-select md-form">
                <option value="" disabled selected>Select a term</option>
                <option value="{{term}}">{{term}}</option>
              </select>
            </div>
          <div hidden id="loader" class="progress md-progress primary-color-dark">
              <div class="indeterminate"></div>
          </div>
         </div>
      </form>
      </div>
      <div class="card-body">
         <div id="table" class="table-editable"></div>
      </div>
   </div>
</div>
{% block script %}
{% if request.user.is_superuser %}
<script type="text/javascript">
  $(document).ready(function(){
    var url = $("#subjectForm").attr("data-cities-url");
    var score_table_url = $("#subjectForm").attr("data-score-table-url");
    $(".class_id").change(function(){
      var class_id = $(this).val()

      $.ajax({  // initialize an AJAX request
        url: url,// set the url of the request (= localhost:8000/hr/ajax/load-subjects/)
        data: {
          'class': class_id // add the class id to the GET parameters
        },
        beforeSend: function(){
            // Show image container
            $("#loader").removeAttr('hidden');
           },
        complete: function(){
            // Show image container
            $("#loader").attr('hidden', 'hidden');
           },
        success: function (data) {   // `data` is the return of the `load_subjects` view function
          $("#subject_box").html(data);  // replace the contents of the subject input with the data that came from the server
        }
      });
    });

      $("#term").change(function(){
      var term = $(this).val()
      var class_id = $("#sclass").val()
      var subject = $("#subject_box").val()

      $.ajax({                       // initialize an AJAX request
        url: score_table_url,                    // set the url of the request (= localhost:8000/hr/ajax/load-subjects/)
        data: {
          'term': term,
          'subject': subject,
          'class': class_id,      // add the country id to the GET parameters
        },

        beforeSend: function(){
            // Show image container
            $("#loader").removeAttr('hidden');
           },
        complete: function(){
            // Show image container
            $("#loader").attr('hidden', 'hidden');
            $("#term_header").text("for "+term+" term");
            $("#headers").removeAttr("hidden");
           },

        success: function (data) {   // `data` is the return of the `load_subjects` view function
          $("#table").html(data);  // replace the contents of the city input with the data that came from the server
          $("#sel_term").val(term);
          $("#sel_subject").val(subject)
        }
      });
    });
  });
</script>
{% endif %}
{% if request.user.is_teacher %}
<script type="text/javascript">
  $(document).ready(function(){
    var url = $("#subjectForm").attr("data-cities-url");
    var score_table_url = $("#subjectForm").attr("data-score-table-url");
    $("#subject_box").change(function(){
      var class_id = $("option:selected", this).attr('class-id')
      $("#t_class").val(class_id);
      });

      $("#term").change(function(){
      var term = $(this).val()
      var class_id = $("#sclass").val()
      var subject = $("#subject_box").val()
      var scid = $("#t_class").val();

      $.ajax({
        url: score_table_url,
        data: {
          'term': term,
          'subject': subject,
          'class': class_id,
          'scid': scid,
        },

        beforeSend: function(){
            // Show image container
            $("#loader").removeAttr('hidden');
           },
        complete: function(){
            // Show image container
            $("#loader").attr('hidden', 'hidden');
            $("#term_header").text("for "+term+" term");
            $("#headers").removeAttr("hidden");
           },

        success: function (data) {   // `data` is the return of the `load_subjects` view function
          $("#table").html(data);  // replace the contents of the city input with the data that came from the server
          $("#sel_term").val(term);
          $("#sel_subject").val(subject)
        }
      });
    });
  });
</script>
{% endif %}
{% endblock %}
{% endblock main %}