{% extends 'base.html' %}
{% load static %}

{% block main %}
  <div style="margin-bottom: 259px;" class="container-fluid">
       <!-- Heading -->
   <div class="card mb-4 wow fadeIn">
      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">
         <h6 class="mb-2 mb-sm-0 pt-1">
            <a href="{% url 'home_page' %}">Home Page</a>
            <span>/</span>
            <a href="{% url 'students_list' %}">Students</a>
            <span>/</span>
            <span>Add Student</span>
         </h6>
      </div>
   </div>
   <div class="alert alert-info">
  <strong>Info!</strong> Create a class, parent (optional)  before you create student</a>.
</div>
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
   {% if form %}
   <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Please correct the errors below</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
   {% for field in form %}
    {% if field.errors %}
     {% for error in field.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong class="{{ message.tags }}">{{ field.label }}: {{ error }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% endif %}

   <!-- Heading -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Student Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Parent / Guardian Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Picture upload</a>
      </li>
  </ul>

<!-- End of Heading -->

<form method="post" enctype="multipart/form-data">{% csrf_token %}
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  <div class="row">
    <div class="col-md-4">
      <span class="red-text">*</span>
    <input required name="stud_username" tabindex="1" type="text" class="form-control mb-4" placeholder="Username">
    <span class="red-text">*</span>
    <input name="stud_fname" type="text" tabindex="4" class="form-control mb-4" placeholder="Firstname">
    <select tabindex="7" required name="stud_class" class="mdb-select md-form">
      <option value="" disabled selected>Select Class</option>
      {% for class in classes %}
      <option value="{{ class.id }}">{{ class.name }}</option>
      {% endfor %}
    </select>
    <input tabindex="12" name="stud_address" type="text" class="form-control mb-4" placeholder="Address">
    <input tabindex="14" name="stud_phone_number" type="number" class="form-control mb-4" placeholder="Phone number">
     <select tabindex="16" name="stud_religion" class="mdb-select md-form">
      <option value="" disabled selected>Religion</option>
      <option value="Islam">Islam</option>
      <option value="Christianity">Christianity</option>
      <option value="Other">Other</option>
    </select>
    </div>
  <div class="col-md-4">
    <span class="red-text">*</span>
    <input required name="stud_password" tabindex="2" type="password" class="form-control mb-4" placeholder="Password">
    <span class="red-text">*</span>
    <input name="stud_sname" type="text" tabindex="5" class="form-control mb-4" placeholder="Surname">
    <select tabindex="8" name="stud_gender" class="mdb-select md-form">
      <option value="" disabled selected>Select Gender</option>
      <option value="1">Male</option>
      <option value="2">Female</option>
      <option value="3">Other</option>
    </select>
    <select tabindex="10" name="stud_state" class="mdb-select md-form" id="states">
      <option value="" selected disabled>Select State</option>
              <option class="1" value="Abuja FCT">Abuja FCT</option>
              <option class="2" value="Abia">Abia</option>
              <option class="3" value="Adamawa">Adamawa</option>
              <option value="Akwa Ibom">Akwa Ibom</option>
              <option value="Anambra">Anambra</option>
              <option value="Bauchi">Bauchi</option>
              <option value="Bayelsa">Bayelsa</option>
              <option value="Benue">Benue</option>
              <option value="Borno">Borno</option>
              <option value="Cross River">Cross River</option>
              <option value="Delta">Delta</option>
              <option value="Ebonyi">Ebonyi</option>
              <option value="Edo">Edo</option>
              <option value="Ekiti">Ekiti</option>
              <option value="Enugu">Enugu</option>
              <option value="Gombe">Gombe</option>
              <option value="Imo">Imo</option>
              <option value="Jigawa">Jigawa</option>
              <option value="Kaduna">Kaduna</option>
              <option value="Kano">Kano</option>
              <option value="Katsina">Katsina</option>
              <option value="Kebbi">Kebbi</option>
              <option value="Kogi">Kogi</option>
              <option value="Kwara">Kwara</option>
              <option value="Lagos">Lagos</option>
              <option value="Nassarawa">Nassarawa</option>
              <option value="Niger">Niger</option>
              <option value="Ogun">Ogun</option>
              <option value="Ondo">Ondo</option>
              <option value="Osun">Osun</option>
              <option value="Oyo">Oyo</option>
              <option value="Plateau">Plateau</option>
              <option value="Rivers">Rivers</option>
              <option value="Sokoto">Sokoto</option>
              <option value="Taraba">Taraba</option>
              <option value="Yobe">Yobe</option>
              <option value="Zamfara">Zamfara</option>
     <option value="Outside Nigeria">Outside Nigeria</option>
    </select>
    <input tabindex="13" name="stud_email" type="email" class="form-control mb-4" placeholder="Email">
    <input tabindex="15" name="stud_year_of_admission" maxlength="4" type="number" class="form-control mb-4" placeholder="Year of admission">
    </div>
    <div class="col-md-4">
    <span class="red-text">*</span>
    <input required name="stud_roll_number" tabindex="3" type="text" class="form-control mb-4" placeholder="Roll number">
    <span style="color: transparent;">*</span>
    <input name="stud_oname" type="text" class="form-control mb-4" tabindex="6" placeholder="Othername">
    <select tabindex="9" name="stud_blood_group" class="mdb-select md-form">
      <option value="" disabled selected>Blood group</option>
      <option value="A+">A+</option>
      <option value="A">A-</option>
      <option value="B+">B</option>
      <option value="B">B+</option>
      <option value="O">O</option>
      <option value="0-">O-</option>
      <option value="0+">O+</option>
    </select>
    <input tabindex="11" name="stud_dob" style="margin-bottom: 23px" type="text" class="form-control datepicker" placeholder="Date of birth">
    </div>
  </div>
</div>

    <!-- Parents tab -->

  <div style="margin-bottom:125px" class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
       <!-- Inner Heading -->
  <ul class="nav nav-tabs" id="myTab2" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="new-parent-tab" data-toggle="tab" href="#newparent" role="tab" aria-controls="newparent" aria-selected="true">New Parent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="existing-parent-tab" data-toggle="tab" href="#existingparent" role="tab" aria-controls="existingparent" aria-selected="false">Select Existing Parent</a>
      </li>
  </ul>
  <!-- End of inner Heading -->
<div class="tab-content" id="myTabContent2">
    <div class="tab-pane fade" id="newparent" role="tabpanel" aria-labelledby="new-parent-tab">
<!-- End of Heading -->
    <div class="row">
      <div class="col-md-6">
      <span class="red-text">*</span>
      <input tabindex="17" name="parent_username" type="text" class="form-control mb-4" placeholder="Username">
      <input  name="parent_fname" type="text" class="form-control mb-4" placeholder="Firstname">
      <input  name="parent_oname" type="text" class="form-control mb-4" placeholder="Othername">
      <input tabindex="20" name="parent_phone_number" type="number" class="form-control mb-4" placeholder="Phone number">
      <inpu tabindex="21"t name="parent_email" type="email" class="form-control mb-4" placeholder="Email">
      </div>
      <div class="col-md-6">
      <span class="red-text">*</span>
      <input tabindex="18" name="parent_password" type="password" class="form-control mb-4" placeholder="Password">
      <input tabindex="19" name="parent_sname" type="text" class="form-control mb-4" placeholder="Surname">
      <select tabindex="21" name="parent_state" class="mdb-select md-form">
         <option value="" selected disabled>Select State</option>
              <option value="Abuja FCT">Abuja FCT</option>
              <option value="Abia">Abia</option>
              <option value="Adamawa">Adamawa</option>
              <option value="Akwa Ibom">Akwa Ibom</option>
              <option value="Anambra">Anambra</option>
              <option value="Bauchi">Bauchi</option>
              <option value="Bayelsa">Bayelsa</option>
              <option value="Benue">Benue</option>
              <option value="Borno">Borno</option>
              <option value="Cross River">Cross River</option>
              <option value="Delta">Delta</option>
              <option value="Ebonyi">Ebonyi</option>
              <option value="Edo">Edo</option>
              <option value="Ekiti">Ekiti</option>
              <option value="Enugu">Enugu</option>
              <option value="Gombe">Gombe</option>
              <option value="Imo">Imo</option>
              <option value="Jigawa">Jigawa</option>
              <option value="Kaduna">Kaduna</option>
              <option value="Kano">Kano</option>
              <option value="Katsina">Katsina</option>
              <option value="Kebbi">Kebbi</option>
              <option value="Kogi">Kogi</option>
              <option value="Kwara">Kwara</option>
              <option value="Lagos">Lagos</option>
              <option value="Nassarawa">Nassarawa</option>
              <option value="Niger">Niger</option>
              <option value="Ogun">Ogun</option>
              <option value="Ondo">Ondo</option>
              <option value="Osun">Osun</option>
              <option value="Oyo">Oyo</option>
              <option value="Plateau">Plateau</option>
              <option value="Rivers">Rivers</option>
              <option value="Sokoto">Sokoto</option>
              <option value="Taraba">Taraba</option>
              <option value="Yobe">Yobe</option>
              <option value="Zamfara">Zamfara</option>
     <option value="Outside Nigeria">Outside Nigeria</option>
      </select>
      <input tabindex="22" name="parent_address" type="text" class="form-control mb-4" placeholder="Full Address">
      </div>
  </div>
</div>

    <div class="tab-pane fade" id="existingparent" role="tabpanel" aria-labelledby="existing-parent-tab">
    <div class="row">
      <select style="margin-bottom: -200px;" name="existing_parent" class="mdb-select md-form">
        <option value="" disabled selected>Select Parent</option>
        {% for parent in parents %}
        <option value="{{ parent.username }}">{{ parent.get_full_name }}</option>
        {% empty %}
        <option value="" disabled selected>No Parent available</option>
        {% endfor %}
      </select>
  </div>
</div>
</div>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
  <div class="row">
    <div class="col-md-4">
    </div>
   <div style="margin-bottom: 274px" class="col-md-4">
    <label>Student Picture</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
      </div>
      <div class="custom-file">
        <input name="stud_picture" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
</div>
<hr />
<label>Parent Picture</label>
<div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
      </div>
      <div class="custom-file">
        <input name="parent_picture" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
</div>
</div>
<div class="col-md-4">
</div>
</div>
  </div>
</div>
<input type="submit" value="Save" name="submit" style="margin-bottom: 27px;" class="btn btn-primary">
</form>
</div>
{% endblock %}
