{% extends 'base.html' %}
{% load static %}
{% block title %} Attendances {% endblock title %}
{% block main %}
   <div class="container-fluid">
   <!-- Heading -->
   <div class="card mb-4 wow fadeIn">
      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">
         <h6 class="mb-2 mb-sm-0 pt-1">
            <a href="{% url 'home_page' %}">Home Page</a>
            <span>/</span>
            <span>Attendance</span>
         </h6>
      </div>
   </div>
   <!-- Heading -->
   {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message|safe }}
          </div>
        {% endfor %}
      {% endif %}
   {% if form %}
   <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Please correct the errors below</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
   {% for field in form %}
    {% if field.errors %}
     {% for error in field.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong class="{{ message.tags }}">{{ field.label }}: {{ error }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% endif %}
   <!-- Editable table -->
   <div class="card">
                        <div class="row">
            <div class="col-md-3">
              <a href="{% url 'add_attendance' %}" class="btn btn-info">Add Attendance</a>
            </div>
         </div>
      <h6 class="card-header text-left text-uppercase py-2 white-text">
            <small class="text-left">Attendance :</small>
               {% if selected_class %}
               <small class="ml-xl-5">Class: {{ selected_class }}</small>
               <small class="ml-xl-5">Term: {{ selected_term }}</small>
               <small class="ml-xl-5">Date: {{ selected_date|date:'l, F j, Y' }}</small>
               {% endif %}
         </h6>
      <div class="container">
         <form method="post">{% csrf_token %}
         <div class="row">
            <div class="col-md-3">
               <select name="selected_class" class="mdb-select md-form">
                <option value="" disabled selected>Select a class</option>
                {% for class in classes %}
                <option value="{{ class.id }}">{{ class.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-3">
               <select name="selected_term" class="mdb-select md-form">
                <option value="" disabled selected>Select a term</option>
                <option value="First">First</option>
                <option value="Second">Second</option>
                <option value="Third">Third</option>
              </select>
            </div>
            <div class="md-form">
              <input name="date" placeholder="Select a date" type="text" id="date-picker-example" class="form-control datepicker">
              <label for="date-picker-example">Day of attendance</label>
            </div>
            <div style="text-align: right;" class="col-md-3">
               <input type="submit" value="Get Report" name="submit" class="md-form form-control btn btn-primary">
            </div>
         </div>
      </form>
      </div>
      <div class="card-body">
         <div id="table" class="table-editable">
            <table class="table table-bordered table-responsive-md table-striped text-center">
               <tr>
                  <th class="text-center">Student</th>
                  <th class="text-center">Picture</th>
                  <th class="text-center">Roll</th>
                  <th class="text-center">Present / Absent</th>
                  <th class="text-center">Is late</th>
                  <th class="text-center">Action</th>
               </tr>
               {% for each in attendance %}
                  <tr>
                     <td class="pt-3-half" name="{{ each.student.get_full_name }}" contenteditable="false">
                        {{ each.student.user.get_full_name }}
                     </td>
                     <td class="pt-3-half" name="{{ each.student.get_full_name }}" contenteditable="false">
                        <img width="50" alt="{{each.student.user.get_full_name}}'s picture" src="{{ each.student.user.get_picture }}">
                     </td>
                     <td class="pt-3-half" contenteditable="false">
                        {{ each.student.roll_number }}
                     </td>
                        {% if each.is_present %}
                     <td class="pt-3-half" contenteditable="false">Present</td>
                        {% if each.is_late %}
                     <td class="pt-3-half" contenteditable="false">
                        for {{ each.is_late_for }} min
                     </td>
                        {% endif %}
                        {% else %}
                     <td class="pt-3-half" contenteditable="false">Absent</td>
                     <td class="pt-3-half" contenteditable="false">--</td>
                        {% endif %}
                     <td class="pt-3-half" contenteditable="false">
                        <a href="#" object-id="{% url 'delete_attendance' id=each.pk %}" title="delete" class="red-text objecttodelete"><i class="fa fa-times"></i></a>
                     </td>
                  </tr>
                  {% empty %}
                  <tr>
                     <td>No data available</td>
                  </tr>
                  {% endfor %}
            </table>
         </div>
      </div>
   </div>
</div>
{% block script %}
  <script type="text/javascript">
    $(document).ready(function() {
      $(".objecttodelete").click(function(){
          var row = $(this).closest("tr > td");
          var link = $(row).find(".objecttodelete").attr('object-id');
          $(".objecttodelete").attr('href', link);
      });
    });
  </script>
{% endblock %}
{% endblock main %}