{% extends 'base.html' %}
{% load static %}

{% block main %}
  <div style="margin-bottom: 259px;" class="container-fluid">
       <!-- Heading -->
   <div class="card mb-4 wow fadeIn">
      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">
         <h6 class="mb-2 mb-sm-0 pt-1">
            <a href="{% url 'home_page' %}">Home Page</a>
            <span>/</span>
            <a href="{% url 'students_list' %}">Students</a>
            <span>/</span>
            <span>Edit Student</span>
         </h6>
      </div>
   </div>
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
   {% if userForm.errors %}
   <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Please correct the errors below</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
   {% for field in userForm %}
    {% if field.errors %}
     {% for error in field.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong class="{{ message.tags }}">{{ field.label }}: {{ error }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% endif %}


   <!-- Heading -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
        Editing {{ userForm.first_name.value }}'s Information</a>
      </li>
  </ul>

<!-- End of Heading -->

<form method="post" enctype="multipart/form-data">{% csrf_token %}
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  <div class="row">
    <div class="col-md-4">
     <small class="indigo-text">Firstname *</small>
     {{ userForm.first_name }}
      <small class="indigo-text">Religion</small>
    {{ userForm.religion }}
     <small class="indigo-text">Address</small>
    {{ userForm.address }}
     <small class="indigo-text">Phone</small>
    {{ userForm.phone }}
    </div>
  <div class="col-md-4">
    <small class="indigo-text">Surname *</small>
    {{ userForm.last_name }}
     <small class="indigo-text">Gender</small>
   {{ userForm.gender }}
    <small class="indigo-text">State</small>
    {{ userForm.state }}
     <small class="indigo-text">Email </small>
   {{ userForm.email }}
    </div>
    <div class="col-md-4">
     <small class="indigo-text">Roll number *</small>
    {{ studentForm.roll_number }}
     <small class="indigo-text">Class *</small>
   	{{ studentForm.in_class }}
     <small class="indigo-text">Year of admission </small>
    {{ studentForm.year_of_admission }}
     <small class="indigo-text">Date of birth </small>
    {{ userForm.dob }}
  </div>
  <div class="col-md-4">
     <small class="indigo-text">Othername </small>
    {{ userForm.other_name }}
  </div>
</div>
</div>
<input type="submit" name="submit" value="Save" style="margin-bottom: 27px;" class="btn btn-primary">
</form>
</div>
{% endblock %}
