{% load static tags i18n humanize %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Title</title>
        <style type="text/css">

        body {
            font-weight: 400;
            font-size: 14px;
        }
.outer{
  display: table;
  margin: 0 auto;
  width: 80%;
}

#inner {
        display: table;
        float: left;
        text-align: center;
        margin-left: -60px;
    }
.logo {
    display: table;
    float: left;

}

.item_l{
    width:170px;
    display:inline-block;
    margin-bottom: 5px;

}

.item_r{
    width:70px;
    display:inline-block;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
}

td, th {
    border: 1px solid grey;
    text-align: left;
    padding: 14px;
    /*height*/
}


th{
    color: grey;
    border-bottom: 2px solid grey;
}

</style>
    </head>
    <body>
        {% for index, result in results.items %}
        <div class="outer">
             <div class="logo">
                 <img src="{% static 'img/logo.png' %}" alt="" width="100px" height="100px"  />
          </div>
          <div>
            <h3 style="margin-left: 200px">{{setting.school_name}}</h3>
            <p style="margin-left: 250px">{{setting.school_address}}</p>
            <p style="margin-left: 270px">{{setting.school_slogan}}</p>
          </div>
        </div>
<hr/>
        <div class='wrapper'>
        <div>
            <div style='display:inline-block; margin-right: 100px; margin-left: 40px'>
                <div>
            <div class="item_l">Name:</div>
            <div class="item_r">
                {{result.0.user.get_full_name|title}}
            </div>
                </div>
                <div>
            <div class="item_l">CLASS:</div>
            <div class="item_r">{{result.0.in_class}}</div>
                </div>
                <div>
            <div class="item_l">ROLL. NO.:</div>
            <div class="item_r">{{result.0.roll_number}}</div>
                </div>
                 <div>
            <div class="item_l">SESSION:</div>
            <div class="item_r">{{result.0.year_of_admission}}</div>
                </div>
                <div>
            <div class="item_l">TERM:</div>
            <div class="item_r">{{term}}</div>
                </div>
                <div>
            <div class="item_l">NO. IN CLASS:</div>
            <div class="item_r">{{number_of_student}}</div>
                </div>
            </div>

            <div style='width:35%;display:inline-block;vertical-align: top;'>
                <div>
            <div class="item_l">POSITION IN CLASS:</div>
            <div class="item_r">{% get_rank result.0.student_rank %}</div>
                </div>
                <div>
            <div class="item_l">TOTAL SCORE:</div>
            <div class="item_r">{{result.0.total_mark }}</div>
                </div>
                <div>
            <div class="item_l">HIGHEST IN CLASS:</div>
            <div class="item_r">{{highest}}</div>
                </div>
                <div>
            <div class="item_l">LOWEST IN CLASS:</div>
            <div class="item_r">{{lowest}}</div>
                </div>
            </div>

            <div style='position: absolute; top: 135px; left: 640px '>


                <img src="{{ result.0.user.get_picture }}" width="100" height="100">

            </div>



    </div>
    <p style="margin-left: 35px;"><b>Terminal Report</b></p>
        <table>
          <tr>
            <th colspan="3">Subjects</th>
            <th>CA1</th>
            <th>CA2</th>
            <th>EXAM</th>
            <th>TOTAL</th>
            <th>POSITION</th>
            <th>GRADE</th>
            <th>REMAKRS</th>

          </tr>
          {% for item in result.1 %}
              <tr>
                <td colspan="3">{% get_subject item.subject_id %}</td>
                <td>{{item.sca}}</td>
                <td>{{item.fca}}</td>
                <td>{{item.exam}}</td>
                <td>{{item.total|default_if_none:''}}</td>
                <td>{% get_rank item.rank %}</td>
                <td>{{item.grade|default_if_none:''}}</td>
                <td>{{item.remark|default_if_none:''}}</td>
              </tr>
           {% endfor %}
          <tr>
            <td colspan="5"></td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td colspan="3">Prometed TO</td>
            <td colspan="7"></td>
        </tr>
        <tr>
            <td colspan="3">Attendance</td>
            <td colspan="7"></td>
        </tr>
        <tr>
            <td colspan="3">Form Teacher Remarks</td>
            <td colspan="7"></td>
        </tr>
        <tr>
            <td colspan="3">House Teacher Remarks</td>
            <td colspan="7"></td>
        </tr>
        <tr>
            <td colspan="3">Principal Remarks</td>
            <td colspan="7"></td>
        </tr>
            <tr>
            <td colspan="3">Interpretation of Grades</td>
            <td colspan="7">
            {% for scale in gradeScale %}
                {{ scale.grade }} = {{ scale.mark_from }} - {{ scale.mark_upto }} |
            {% endfor %}
            </td>
        </tr>


        </table>
        {% if term == "First" %}
         <p style="margin-left: 35px;"><b>Second Term Begins: {{ setting.st_begins }}
         </b></p>
        {% elif term == "Second" %}
        <p style="margin-left: 35px;"><b>Third Term Begins: {{ setting.tt_begins }}
        </b></p>
        {% else %}
        <p style="margin-left: 35px;"><b>First Term Begins: {{ setting.ft_begins }}
        </b></p>
        {% endif %}
    </div>
    <p style="page-break-after: always"/>
    {% endfor %}

    </body>
</html>