{% extends 'base.html' %}
{% load static humanize %}
{% block title %} Students {% endblock title %}
{% block main %}
<style type="text/css">
  .btn_pdf {
    display: inline;
  }
</style>
   <div class="container-fluid">
      <!-- Heading -->
      <div class="card mb-4 wow fadeIn">
         <!--Card content-->
         <div class="card-body d-sm-flex justify-content-between">
            <h6 class="mb-2 mb-sm-0 pt-1">
               <a href="{% url 'home_page' %}">Home Page</a>
               <span>/</span>
               <span>Students</span>
            </h6>
         </div>
      </div>
      <!-- Heading -->
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      <!-- Editable table -->
      <div class="card">
         <h6 class="card-header text-left text-uppercase py-2 white-text">
            <small class="text-left">Students :</small>
               {% if selected_class %}
               <small class="ml-xl-5">Class: {{ selected_class }}</small>
               {% endif %}
         </h6>
         <div class="container">
            <div class="row">
               <div style="display: inline;" class="col-md-5">
                  {% if request.user.is_superuser %}
                  <a href="{% url 'add_student' %}" class="btn btn_pdf btn-info">Add Student</a>
                  <form target="_blank" class="btn_pdf" method="get" action="{% url 'class_members_report' %}">
                    <input type="text" name="class" hidden value="{{ selected_class.pk }}">
                    <button style="background-color: #fff" type="submit" class="btn btn_pdf black-text">PDF</button>
                  </form>
                  {% endif %}

               </div>
               <div class="col-md-3"></div>
               <div class="col-md-4">
                  <div class="dropdown">
                     <button class="btn btn-info dropdown-toggle float-right" type="button" id="dropdownMenu3" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                     Select class
                     </button>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                        <h6  class="dropdown-header">Select Class</h6>
                        {% if request.user.is_teacher %}
                     {% for class in classes %}
                      <a data-toggle="tooltip" title="{{ class.clss }}" class="dropdown-item" href="{% url 'students_list_view' id=class.clss.id %}">
                     {{ class.clss }}
                      </a>
                       {% empty %}
                        <span>No class available</span>
                     {% endfor %}
                     {% else %}
                        {% for class in classes %}
                        <a data-toggle="tooltip" title="{{ class }}" class="dropdown-item" href="{% url 'students_list_view' id=class.id %}">
                        {{ class }}
                        </a>
                        {% empty %}
                        <span>No class available</span>
                        {% endfor %}
                        {% endif %}
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="card-body">
          <div hidden id="loader" class="progress md-progress primary-color-dark">
              <div class="indeterminate">
              </div>
          </div>
            <div id="table" class="students_body table-editable">
               <table class="table table-bordered table-responsive-md table-striped text-center">
                  <tr class="mdb-color darken-3 white-text">
                    <th class="text-center">#</th>
                     <th class="text-center">Fullname</th>
                     <th class="text-center">Picture</th>
                     <th class="text-center">Roll</th>
                     <th class="text-center">Email</th>
                     {% if request.user.is_superuser %}
                     <th class="text-center">Status</th>
                     <th class="text-center">Action</th>
                     {% endif %}
                  </tr>
                  {% for student in students %}
                  <tr>
                    <td class="pt-3-half text-center" contenteditable="false">
                        <a href="">{{ forloop.counter }}</a>
                     </td>
                     <td class="pt-3-half text-center" name="{{ student.user.first_name }}" contenteditable="false">
                        <a href="{% url 'profile' user_id=student.user.id %}">{{ student.user.get_full_name }}</a>
                     </td>
                     <td class="pt-3-half" name="{{ student.user.first_name }}" contenteditable="false">
                        <img width="50px" src="{{ student.user.get_picture }}">
                     </td>
                     <td class="pt-3-half" contenteditable="false">{{ student.roll_number }}</td>
                     <td class="pt-3-half" contenteditable="false">{{ student.user.email }}</td>
                      {% if request.user.is_superuser %}
                     <td class="pt-3-half">
                     <div  title="if deativated, this student can no longer have access to this site" class="switch">
                        <label class="custom-checkbox">
                          Off
                          <input deativate-url="{% url 'toggle_user_status' id=student.user.id %}" id="user_status" name="user_status" type="checkbox"
                          {% if student.user.is_active %} checked {% endif %}/>
                          <span class="lever"></span> On
                        </label>
                      </div>
                    </td>
                     <td class="pt-3-half" contenteditable="false">
                        <a href="{% url 'profile' user_id=student.user.id %}" title="view" class="blue-text"><i class="fa fa-user"></i></a>
                        <a href="{% url 'edit_student' id=student.id %}" title="edit" class="teal-text"><i class="fa fa-pen"></i></a>
                        <a id="del_student" target_student="{% url 'delete_user' id=student.user.pk %}" title="delete" class="del_student red-text"><i class="fa fa-times"></i></a>
                     </td>
                     {% endif %}
                  </tr>
                  {% empty %}
                  <tr>
                     <td>No data available</td>
                  </tr>
                  {% endfor %}
               </table>
               <table>
                <tr>
                  <td>
                    <fieldset>
                        <legend style="font-size: 15px">Summary:</legend>
                        <font style="font-size: 13px">Number of students: {{ students.count }} ({{ students.count|apnumber|title }})</font>
                      </fieldset>
                  </td>
                </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
   </div>
   {% block script %}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha256-KsRuvuRtUVvobe66OFtOQfjP8WA2SzYsmm4VPfMnxms=" crossorigin="anonymous"></script>
      <script type="text/javascript">
        $(document).ready(function(){
        $(".del_student").click(function(){
          var row = $(this).closest("tr > td");
          var del_student = $(row).find("#del_student").attr('target_student')
          swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this student!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
              $.ajax({
              url: del_student,
              beforeSend: function(){
                $("#loader").removeAttr('hidden');
              },
              
              complete: function(){
                $("#loader").attr('hidden', 'hidden');
              },

              success: function (data) {
                  $(".students_body").html(data);
                  toastr.info('Successfully deleted');
                  swal("Successfully Deleted!", {
                    icon: "success",
                  });
                }
              });
            }
          });
        });

        $(".custom-checkbox").change(function(){
        var row = $(this).closest("tr > td");
        var url = $(row).find("#user_status").attr('deativate-url');

        $.ajax({
            url: url,
                success: function (data) {
                  if (data == 'activated') {
                    toastr.success('Successfully '+data);
                  }else{
                    toastr.info('Successfully '+data);
                  }
                }
              });
            });
        });
      </script>
   {% endblock script %}
{% endblock main %}