{% extends 'base.html' %}
{% load static %}

{% block title %} Courses {% endblock %}

{% block main %}

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area">
        <!-- Breadcumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Courses</a></li>
            </ol>
        </nav>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Catagory ##### -->
    <div class="clever-catagory bg-img d-flex align-items-center justify-content-center" style="background-image: url({% static 'img/bg-img/bg2.jpg' %});">
        <h3>Our Courses at CLC</h3>
    </div>

    <!-- ##### Popular Course Area Start ##### -->
    <section class="popular-courses-area section-padding-100">
        <div class="container">
            <div class="row">
                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <img src="img/bg-img/c1.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>MICROSOFT SUITS </h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">6 Weeks</a>
                            </div>
                            <p>In this course you will learn the basics of Microsoft Office Suit</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 20,000</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <img src="img/bg-img/c2.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h5>OFFICE ADMINISTRATION</h5>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">8 Weeks</a>
                            </div>
                            <p>In this course you will get to master the entire Microsoft Office Package</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 20,000</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <img src="img/bg-img/c3.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>JAMB CBT TRAINING</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">2 WEEKS</a>
                            </div>
                            <p>Come get our JAMB CBT Training, Go for excellence !</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 5,000</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <img src="img/bg-img/c4.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>FRONT DESK</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">6 WEEKS</a>
                            </div>
                            <p>Learn all about FrontDesk</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 20,000</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <img src="img/bg-img/c5.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>IT SUPPORT SPECIALIST </h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">6 Weeks</a>
                            </div>
                            <p>Learn how to manage both the inner-most and the outer-most parts of a computer system</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 30, 000</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <img src="img/bg-img/c6.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>IT ESSENTIALS</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">6 Weeks</a>
                            </div>
                            <p>IT Essentials covers fundamental computer and career skills for entry-level IT jobs</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 20, 000</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <img src="img/bg-img/c7.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>CORPORATE TRAINING</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">4 Weeks</a>
                            </div>
                            <p>This course teachs you about CORPORATE TRAINING</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 40, 000</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <img src="img/bg-img/c8.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h5>PROJECT MANAGEMENT PROFESSIONAL (PMP)</h5>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">6 Weeks</a>
                            </div>
                            <p>Enroll for this course in other to know all about PROJECT MANAGEMENT PROFESSIONAL (PMP) </p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 30, 000</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <img src="img/bg-img/c9.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h5>COMPUTER HARDWARE &amp; MAINTAINCE </h5>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">8 Weeks</a>
                            </div>
                            <p>In this course you will learn how to secure and maintain both sofware and Hardware of a computer System</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 30,000</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <img src="img/bg-img/c9.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>HARDWARE &amp; NETWORKING</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">8 Weeks</a>
                            </div>
                            <p>Learn all about the computer hardware and other network gadgets, become a network administrator </p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 35,000</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <img src="img/bg-img/c9.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h5>CISCO CERTIFIED NETWORK ASSOCIATE  (CCNA)</h5>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">12 Weeks</a>
                            </div>
                            <p>In this course you will learn the basics of networking and CCNA, Routing, Subnetting and IP Addressing</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 40,000</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <img src="img/bg-img/c9.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>TELECOMMUNICATION ENGINEERING</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">12 Weeks</a>
                            </div>
                            <p>In this course you will learn the basics of telecommunication and Telecommunication Technologies</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 30,000</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <img src="img/bg-img/c9.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h5>CCTV CAMERA INSTALLATION TRAINING</h5>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">1 Week</a>
                            </div>
                            <p>Learn  how to install and manage CCTV Cameras</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 10,000</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <img src="img/bg-img/c9.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h5>DSTV SATELLITE DISH INSTALLATION TRAINING </h5>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">1 Week</a>
                            </div>
                            <p>Become a pro when it comes to DSTV installation by enrolling for this course</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 10,000</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <img src="img/bg-img/c9.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>GRAPHIC DESIGN</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Alfred Parker</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">6 Weeks</a>
                            </div>
                            <p>In this course you will get to learn how to make some outstanding designs</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 20,000</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <img src="img/bg-img/c9.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>AUTOCARDS DESIGN</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">6 Weeks</a>
                            </div>
                            <p>In this course you will learn how to work with AutoCad</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 20,000</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <img src="img/bg-img/c9.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>GOOGLE EATH DESIGN</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">6 Weeks</a>
                            </div>
                            <p>In this course you will get to learn all about google earth design in 12 Weeks Only</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 20,000</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <img src="img/bg-img/c9.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h5>SOFWARE DEVELOPMENT</h5>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Abdul Ibrahim</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">16 Weeks</a>
                            </div>
                            <p>Enroll to know how to build Desktop Applications, we will guide you through all the neccessaey steps to becoming a good software engineer</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 40,000</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <img src="img/bg-img/c9.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>EMBEDDED SYSTEM</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Umar Farook Adamu</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">12 Weeks</a>
                            </div>
                            <p>This course work will teach you how to work with micro-controllers and motors, you will learn the basics of IOT here</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 50,000</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <img src="img/bg-img/c9.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>WEB DEVELOPMENT</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Abdul Ibrahim</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">12 Weeks</a>
                            </div>
                            <p>In this course you will learn about web basic Web Technologies [ HTML5, CSS3, Javascript ], enroll to become a full stack web developer</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 35,000</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <img src="img/bg-img/c9.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h5>PROGRAMMING WITH SQL (RDBMS)</h5>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">6 Weeks</a>
                            </div>
                            <p>In this course you will learn all about sql, from basics to being an expert</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#">N 30,000</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms">
                        <a href="#" class="btn clever-btn btn-2">Load More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Popular Course Area End ##### -->

{% endblock %}
