{% extends 'base.html' %}
{% load static %}
{% block main %}
    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area bg-img bg-overlay-2by5" style="background-image: url({% static 'img/bg-img/bg1.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Hero Content -->
                    <div class="hero-content text-center">
                        <h2>A PRACTICAL PLATFORM FOR A CAREER DEVELOPMENT…</h2>
                        <a href="#" class="btn clever-btn">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Cool Facts Area Start ##### -->
    <section class="cool-facts-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <div class="icon">
                            <img src="{% static 'img/core-img/docs.png' %}" alt="">
                        </div>
                        <h2><span class="counter">1912</span></h2>
                        <h5>Success Stories</h5>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="icon">
                            <img src="{% static 'img/core-img/star.png' %}" alt="">
                        </div>
                        <h2><span class="counter">11</span></h2>
                        <h5>Dedicated Tutors</h5>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <div class="icon">
                            <img src="{% static 'img/core-img/events.png' %}" alt="">
                        </div>
                        <h2><span class="counter">14</span></h2>
                        <h5>Scheduled Events</h5>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="1000ms">
                        <div class="icon">
                            <img src="{% static 'img/core-img/earth.png' %}" alt="">
                        </div>
                        <h2><span class="counter">22</span></h2>
                        <h5>Available Courses</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Cool Facts Area End ##### -->

    <!-- ##### Popular Courses Start ##### -->
    <section class="popular-courses-area section-padding-100-0" style="background-image: url(img/core-img/texture.png);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Popular Online Courses</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <img src="{% static 'img/bg-img/c1.jpg' %}" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>CCNA</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">Networking Essentials</a>
                            </div>
                            <p>In this course you will learn the basics of networking and CCNA</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#"><span style="text-decoration: line-through;">N</span> 35,000</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <img src="{% static 'img/bg-img/c2.jpg' %}" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>Web Devlopment</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Abdul Ibrahim</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">Software Development</a>
                            </div>
                            <p>In this course you will learn about some basic Web Technologies [ HTML5, CSS3, Javascript ]</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#"><span style="text-decoration: line-through;">N</span> 35,000</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <img src="{% static 'img/bg-img/c3.jpg' %}" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>Graphics Design</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Alfred Parker</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">Graphics &amp; Design</a>
                            </div>
                            <p>In this course you will get to learn how to make some outstanding designs</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i> 10
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="#"><span style="text-decoration: line-through;">N</span> 35,000</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Popular Courses End ##### -->

    <!-- ##### Best Tutors Start ##### -->
    <section class="best-tutors-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>The Best Intructors in Town</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="tutors-slide owl-carousel wow fadeInUp" data-wow-delay="250ms">

                        <!-- Single Tutors Slide -->
                        <div class="single-tutors-slides">
                            <!-- Tutor Thumbnail -->
                            <div class="tutor-thumbnail">
                                <img src="{% static 'img/bg-img/t.png' %}" alt="">
                            </div>
                            <!-- Tutor Information -->
                            <div class="tutor-information text-center">
                                <h5>Cosmos Daniel</h5>
                                <span>Instructor</span>
                                <p>Expert in Networking and Server Management</p>
                                <div class="social-info">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Tutors Slide -->
                        <div class="single-tutors-slides">
                            <!-- Tutor Thumbnail -->
                            <div class="tutor-thumbnail">
                                <img src="{% static 'img/bg-img/t.png' %}" alt="">
                            </div>
                            <!-- Tutor Information -->
                            <div class="tutor-information text-center">
                                <h5>Alfred Parker</h5>
                                <span>Instructor</span>
                                <p>Expert in Graphics Design, Animations and Visual Effects </p>
                                <div class="social-info">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>

                                                <!-- Single Tutors Slide -->
                        <div class="single-tutors-slides">
                            <!-- Tutor Thumbnail -->
                            <div class="tutor-thumbnail">
                                <img src="{% static 'img/bg-img/t.png' %}" alt="">
                            </div>
                            <!-- Tutor Information -->
                            <div class="tutor-information text-center">
                                <h5>Abdul Ibrahim</h5>
                                <span>Instrcutor</span>
                                <p>Mobile / Web Developer</p>
                                <div class="social-info">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Best Tutors End ##### -->

    <!-- ##### Register Now Start ##### -->
    <section class="register-now section-padding-100-0 d-flex justify-content-between align-items-center" style="background-image: url({% static 'img/core-img/texture.png' %});">
        <!-- Register Contact Form -->
        <div class="register-contact-form mb-100 wow fadeInUp" data-wow-delay="250ms">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="forms">
                            <h4>Apply for SIWES</h4>
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="text" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="phone" placeholder="Phone">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="site" placeholder="School / Department">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn clever-btn w-100">Apply</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Register Now Countdown -->
        <div class="register-now-countdown mb-100 wow fadeInUp" data-wow-delay="500ms">
            <h3>Five Reasons for choosing CLS:</h3>
            <h5>1. Experience</h5>
            <p>
                We have been in the Technology training since 2015, and we kept providing training to more than 5,000 trainees ever since, in Nigeria and Adamawa State.
            </p>
            <h5>2. Up to Date:</h5>
            <p>
               Our training programs will always be updated up to the World-class standards, and adapted to the global shape-shifting job market.
            </p>
            <h5>3. Best instructors in town</h5>
            <p>
               They don’t only provide training program, but they also share their professional experience, a clear hands-on experience on what is going on in the job market
            </p>
            <h5>4. Cutting-edge facilities</h5>
            <p>
              CLC facilities are well-equipped with strong hardware and software technologies that aid both students and trainers lead very effective smooth training programs. 
            </p>
            <h5>5. Accredited by Government:</h5>
            <p>
               This means that our training programs are of the highest quality, most up-to-day, and have the highest return on
            </p>

        </div>
    </section>
    <!-- ##### Register Now End ##### -->

       <!-- ##### Blog Area Start ##### -->
    <section class="blog-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Latest Courses</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Blog Area -->
                <div class="col-12 col-md-6">
                    <div class="single-blog-area mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <img src="{% static 'img/bg-img/c10.jpg' %}" style="width: 180px" alt="">
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="blog-headline">
                                <h4>GOOGLE EATH DESIGN</h4>
                            </a>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">GIS - 12 WEEKS</a>
                            </div>
                            <p>In this course you will get to learn all about google earth design in 12 Weeks Only</p>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-md-6">
                    <div class="single-blog-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <img src="{% static 'img/bg-img/c11.jpg' %}" alt="">
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="blog-headline">
                                <h4>IT ESSENTIALS </h4>
                            </a>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Cosmos Daniel</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">Information Technology &amp; Computing</a>
                            </div>
                            <p>IT Essentials covers fundamental computer and career skills for entry-level IT jobs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Blog Area End ##### -->
    {% endblock %}
