{% extends 'base.html' %}
{% load static %}
{% block title %} Add Item / Expense {% endblock title %}
{% block main %}
  <div style="margin-bottom: 259px;" class="container-fluid">
       <!-- Heading -->
   <div class="card mb-4 wow fadeIn">
      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">
         <h6 class="mb-2 mb-sm-0 pt-1">
            <a href="{% url 'home_page' %}">Home Page</a>
            <span>/</span>
            <a href="{% url 'view_expenses' %}">Expense</a>
            <span>/</span>
            <span>Edit Expense</span>
         </h6>
      </div>
   </div>
   <!-- Heading -->
       {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      {% if form.errors %}
   <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Please correct the errors below</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% for field in form %}
    {% if field.errors %}
     {% for error in field.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong class="{{ message.tags }}">{{ field.label }}: {{ error }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% endif %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Edit Expense Information</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
<form method="post">{% csrf_token %}
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="row">
      <div class="col-md-3">
        <small class="indigo-text">Item *</small>
        {{ form.item }}
        <small class="indigo-text">Amount *</small>
        {{ form.amount }}
        <small class="indigo-text">Note *</small>
        {{ form.description }}
      </div>
      <div class="col-md-3">
        <small class="indigo-text">Session *</small>
       {{ form.session }}
       <small class="indigo-text">Term *</small>
        {{ form.term }}
      </div>
  </div>
  </div>
  <input type="submit" name="submit" class="btn btn-primary" value="Save">
</form>
</div>
</div>
{% endblock %}
