{% extends 'base.html' %}
{% load static %}

{% block title %} Pages {% endblock title %}

{% block main %}
    <div class="container-fluid">
             <!-- Heading -->
   <div class="card mb-4 wow fadeIn">
      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">
         <h6 class="mb-2 mb-sm-0 pt-1">
            <a href="/"> Home Page </a>
            <span>/</span>
            <a> Pages </a>
         </h6>
      </div>
   </div>
   <!-- Heading -->
   <div hidden id="restriction_response_div" class="alert alert-success alert-dismissable">
      <button type="button" class="close" aria-hidden="true">&times;</button>
      <span id="restriction_response"></span>
   </div>
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      <!--Section: Basic examples-->
      <section>
        <!--Top Table UI-->
         {% if request.user.is_superuser %}
        <div class="card p-2 mb-5">

          <!--Grid row-->

          <div class="row">

            <!--Grid column-->

            <div class="col-lg-3 col-md-12">
            	<a class="btn btn-primary" href="#">
            		Create a New Page 
            	</a>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6">
              <!--/Blue select-->
            </div>
            <!--Grid column-->
          </div>

          <!--Grid row-->

        </div>
        {% else %}
        <div class="p-2 mb-5"></div>
         {% endif  %}
        <!--Top Table UI-->

        <div class="card card-cascade narrower z-depth-1">

          <!--Card image-->
          <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
            <a href="" class="white-text mx-3">Pages</a>

          </div>
          <!--/Card image-->

          <div class="px-4">

            <div class="table-responsive">
              <!--Table-->
              <table id="table" class="table table-hover mb-0">

                <!--Table head-->
                <thead>
                  <tr>
                    <th class="th-lg"><a> Page Title <i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a href="#">URL<i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a href=""> Content <i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a href=""> Restricted ? <i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a href=""> Action <i class="fas fa-sort ml-1"></i></a></th>
                  </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                	{% for page in pages %}
                  <tr>
                    <td><a href=""> {{ page.title }} </td>
                    <td><a style="color: blue" target="_blank" title="Click to preview" href="/pages{{ page.url }}">{{ page.url }}</a></td>
                    <td title="{{ page.content }}">{{ page.content|truncatewords:5 }}</td>
                    <td>
                      <div title="if restricted, only logged in users can see the page" class="switch">
                      <label class="custom-checkbox">
                          Off
                          <input toggle-url="{% url 'toggle_page_restriction' page_id=page.id %}" id="page_status" name="page_status" type="checkbox"
                          {% if page.registration_required %} checked {% endif %}/>
                          <span class="lever"></span> On
                        </label>
                      </div>
                    </td>
                    <td>
                      <a href="#" title="Preview" class="blue-text"><i class="fa fa-user"></i></a>
                      <a href="#"  title="Edit" class="teal-text"><i class="fa fa-pen"></i></a>
                      <a href="{% url 'delete_page' page_id=page.id %}" title="Delete" class="red-text"><i class="fa fa-times"></i></a>
                    </td>
                  </tr>
                  {% empty %}
                  <span>No data available</span>
                  {% endfor %}
                </tbody>
                <!--Table body-->
              </table>
              <!--Table-->
            </div>

            <hr class="my-0">

            <!--Bottom Table UI-->
            <div class="d-flex justify-content-between">
              <!--Pagination -->
              <nav class="my-4">
                <ul class="pagination pagination-circle pg-blue mb-0">
                  <!--Arrow left-->
                  <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo; Previous</span>
                    </a>
                  </li>
                  <!--Arrow right-->
                  <li class="page-item disabled">
                    <a class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo; Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <!--/Pagination -->

            </div>
            <!--Bottom Table UI-->

          </div>
        </div>

      </section>
      <!--Section: Basic examples-->

    </div>
   {% block script %}
      <script type="text/javascript">
        $(document).ready(function(){
          $(".custom-checkbox").change(function(){
            var row = $(this).closest("tr > td");
            var url = $(row).find("#page_status").attr('toggle-url');

            $.ajax({
              url: url,
                success: function (data) {
                 $("#restriction_response_div").removeAttr("hidden");
                 $("#restriction_response").text(data);
                }
              });
            });
        });
      </script>
    <script src="{% static 'js/sms/sms_script.js' %}"></script>
   {% endblock script %}
  {% endblock main %}