{% extends 'authenticated/dashboard.html' %}
{% load static %}
{% block title %} Change School | Bitpoint Admin {% endblock %}
{% block custom_style %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<style type="text/css">
  .btn-submit {
    text-transform: uppercase;
  }
</style>
{% endblock %}
{% block main %}

  <div class="container">
    <p class="mb-4"><a href="{% url 'schools_list' %}" class="btn btn-primary btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span class="text">Go Back</span>
    </a>
  </p>
    <!-- MESSAGE -->
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
   {% if form %}
   <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Please correct the errors below</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
   {% for field in form %}
    {% if field.errors %}
     {% for error in field.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong class="{{ message.tags }}">{{ field.label }}: {{ error }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% endif %}
    <!-- MESSAGE -->
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-12">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">
                  Update {{ tenant.name }} ({{ tenant.schema_name }})</h1>
              </div>
              <form class="user" action="{% url 'school_change_save' tenant_id=tenant.pk %}" method="POST">{% csrf_token %}
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input required minlength="5" maxlength="100" type="text" class="form-control form-control-user" name="school_name" id="school_name" value="{{ tenant.name }}" placeholder="School Name">
                  </div>
                  <div class="col-sm-6">
                    <input required minlength="2" maxlength="50" type="text" class="form-control form-control-user" name="subdomain" id="subdomain" value="{{ tenant.schema_name }}" onkeypress="return AvoidSpace(event)" placeholder="Subdomain">
                  </div>
                </div>
                <div class="form-group">
                  <input required minlength="10" maxlength="150" type="text" class="form-control form-control-user" name="description" id="description" value="{{ tenant.description }}" placeholder="Description">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input required minlength="6" maxlength="55" onkeypress="return AvoidSpace(event)" type="email" class="form-control form-control-user" value="{{ tenant.school_admin.email }}" name="email" id="email" placeholder="Admin Email">
                  </div>
                  <div class="col-sm-6">
                    <input maxlength="11" minlength="11" required onkeypress="return AvoidSpace(event)" type="number" value="{{ tenant.school_admin.phone }}" class="form-control form-control-user" name="phone" id="phone" placeholder="Admin Phone">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <input disabled maxlength="11" minlength="4" onkeypress="return AvoidSpace(event)" type="text" readonly value="{{ tenant.school_admin.username }}" class="form-control form-control-user" name="username" id="username" placeholder="Username">
                    <input name="user_id" type="text" value="{{ tenant.school_admin.pk }}" hidden readonly name="">
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input max="16" min="4" type="password" class="form-control form-control-user" name="password" id="password" placeholder="New Password">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    Put On Trial
                    <input type="checkbox" name="ontrial" {% if tenant.on_trial %} checked {% endif %} data-toggle="toggle" data-size="mini">

                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input required value="{{ tenant.active_until|date:"Y-m-d" }}" type="date" class="form-control form-control-user" id="active_until" name="active_until" placeholder="Active Until">
                    Sub Expire Date
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn_submit btn-user btn-block">
                  UPDATE
                </button>
                <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
{% block custom_js %}
  <script src="{% static 'js/sms/sms_script.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha256-KsRuvuRtUVvobe66OFtOQfjP8WA2SzYsmm4VPfMnxms=" crossorigin="anonymous"></script>
      <script type="text/javascript">
        // Avoid space in input 
        const AvoidSpace = (event) => {
            var k = event ? event.which : window.event.keyCode;
            if (k == 32) return false;
        }
      </script>
      <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
   {% endblock custom_js %}